	<!DOCTYPE html>
<html>
    <head>
        <title>RISE</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        
<%- include ('../layouts/gyws_header') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/nep.css">
<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/nep_styles.css">
<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/nep-style.css">
<link rel="stylesheet" href=".<%=baseurl%>gyws/assets/css/lib_nep/animate.min.css">
<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/lib_nep/ionicons.min.css">



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>


<style>#more2 {display: none;} #more {display: none;} #more3 {display: none;} #more4 {display: none;} #more5 {display: none;} #more6 {display: none;} #more7 {display: none;} 
#more8 {display: none;}</style>

    <section>
        <div class="intern-main-head row justify-content-center">
           <img class="top-image" alt="" src="<%=baseurl%>gyws/assets/img/nep/banner_laptop (1).jpg" />
</div>
        </div>
	<center>
	    <div class="col-6 col-md-4 col-lg-3 intern-category-card-button">
         	<center class="text-center"><a href="https://dare2compete.com/o/case-challenge-2020-gopali-youth-welfare-society-145340?fbclid=IwAR2HnGG2VKwh-XHQLPAO0BuIdVyA01WloocKUfqMBD7xXp8bENYcnrDq-fs"><button type="button" class="btn">Apply Now</button></a></center>
            </div>
	</center>
        <br></br>
        <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container" style="margin-top:5%;">
                            <h1><span class="turquoise"></span> Overview </h1>
                            <p class="p-large">Gopali Youth Welfare Society believes that students have a huge potential to bring a change in society. To realize its vision to 
			create an ecosystem 
				for youth to participate in social activities, we at GYWS provide <strong> membership, volunteership and internship </strong> opportunities to them. To take a step 
				further towards bringing the youth of the nation in the frontline of solving developmental challenges,  we started Adhhyayan our first-ever <strong> nation-wide 
				socio-innovation case challenge </strong>, this year.  
<span id="dots2">...</span><span id="more2">This opportunity for college students of our country will not only help them sharpen their <strong> problem solving skills </strong> but also make them 
			aware about some of the <strong> most pressing developmental challenges </strong>. Unlike other competitions which happens generally on paper, if found feasible we will take
			 their solutions to the ground level. </span></p>
                                <a class="btn-solid-lg page-scroll" onClick="myFunction2()" id="myBtn2">LEARN MORE</a>
                               <script>
                                function myFunction2() {
                                    var dots = document.getElementById("dots2");
                                    var moreText = document.getElementById("more2");
                                    var btnText = document.getElementById("myBtn2");

                                    if (dots.style.display === "none") {
                                        dots.style.display = "inline";
                                        btnText.innerHTML = "Read more";
                                        moreText.style.display = "none";
                                    } else {
                                        dots.style.display = "none";
                                        btnText.innerHTML = "Read less";
                                        moreText.style.display = "inline";
                                    }
                                    }
                            </script>

                    </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="gyws/assets/img/nep/header-teamwork.svg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->




 <!-- Objectives -->

<div class="text-center intern-headings mt-5">OBJECTIVES</div>
            <hr class="intern-head-underline">

		<img style="width: 30%; margin-top: 2rem; display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;"  class="intro-img-small" src="https://scontent.fixr1-1.fna.fbcdn.net/v/t1.15752-9/175119498_1362240584132367_347089455746523686_n.png?_nc_cat=103&ccb=1-3&_nc_sid
		=ae9488&_nc_ohc=uznDhiI2DM8AX8PjYV8&_nc_oc=AQldhryWIwsY9tQP1zuKZCQHJKYADyx3_B5bMVTVi1FlB8QaIn1_ZqUkMMo5ElyY5bYe4MrYq6IIdD3fpch8HLtg&_nc_ht=scontent.fixr1-1.
			fna&oh=4948de8b05fe3191b77e9945a1aaf369&oe=60AAC6FC" alt="">





 <!-- Judging Panel -->

<div class="text-center intern-headings mt-5">JUDGING PANEL</div>
            <hr class="intern-head-underline">

<div class="jumbotron jumbotron-fluid" style="text-align: center; background-color: rgb(7,56,99); color: wheat;">
        <div class="container">
          <h1 class="display-4">Panel Discussion</h1>
          <p class="lead">We organised a panel discussion for all the participants on 7th of February, with 2 panelists speaking about the problem statement. The panelists include: Dr. Urvashi Sahni and Mr. Adhitya Iyer.
				
        </p>
	<a href="https://www.youtube.com/watch?v=WB_bnMjhZlI">
        <img src="<%=baseurl%>gyws/assets/img/nep/youtube_PNG15.png" alt="" style="width: 200px; padding: 0"">
    </a>
        </div>
      </div>
<div class="row" style="padding: 2rem;">
        <div class="col-lg-6" style="text-align: center;">
          <img   src="<%=baseurl%>gyws/assets/img/nep/Adhitya Iyer (1).jpeg" alt="Forest" style="height:500px; border-radius: 0;">
	<h3>Adhitya Iyer</h3>
        </div>
        <div class="col-lg-6" style="text-align: center;">
          <img   src="<%=baseurl%>gyws/assets/img/nep/Image_U_Sahni small.jpg" alt="Forest" style="height:500px; border-radius: 0;">
	<h3>Dr. Urvashi Sahni </h3>
        </div>
      </div>	










 <!-- Problem statement -->

<div class="text-center intern-headings mt-5">Problem Statement</div>
            <hr class="intern-head-underline">

    <div class="row" style="padding: 3rem;"	>
        <div class="col-lg-6" style="text-align: center;">
            <img style="width: 30%; margin-top: 7rem;" class="intro-img-small" src="https://scontent.fixr1-1.fna.fbcdn.net/v/t1.15752-9/174293380_620560429058524_
		28487933058266260_n.png?_nc_cat=111&ccb=1-3&_nc_sid=ae9488&_nc_ohc=JcG8-R00pEAAX8qMjiD&_nc_ht=scontent.fixr1-1.fna&oh=cdc2d6cb18e6dbd6a9af76f40c64d62a&oe=60ABC12B" alt="">
        </div>

        <div class="col-lg-6">
            <div class="jumbotron" style="background-color: transparent; text-align: center;  ">
                <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                attention to featured content or information.</p>
            <hr class="my-4"> -->
                <p style="color: #85859f; line-height: 2rem; font-size: 1.2rem;">The first edition of Adhhyayan was successfully conducted in the first quarter of 2021. The developmental challenge 
			which we gave to our participants was related to the <strong>Indian Education System</strong>. To get a glimpse of the problem statement</p>
		<p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
                <p style="color: #85859f; line-height: 2rem; font-size: 1.2rem;">The problem statement required people to research efficient strategies to achieve some of the 
			ambitious targets from <strong>National Education Policy 2020</strong>. 
			They exensively worked on the problem statement for 2 months, and finally presented their solution. </p>
                
            </div>
        </div>
    </div>





	<div class="container-fluid">
	    <div class="text-center intern-headings mt-5">AIM</div>
            <hr class="intern-head-underline">
	    <section id="about">
          <div class="container-fluid">
               <div class="row">
                    <div class="col-md-offset-1 col-md-3 col-sm-12">
                         <div class="entry-form">
                             <p><br>To solve some of the major challenges which Indian Education System is facing.</p>
                         </div>
                    </div>

                    <div class="col-md-offset-1 col-md-3 col-sm-12">
                         <div class="entry-form">
                             <p>To promote youth to come together and interact with our large network of students throughout the country and some industry experts of the domain.</p>
                         </div>
                    </div>

                    <div class="col-md-offset-1 col-md-3 col-sm-12">
                         <div class="entry-form">
                             <p>To provide youth an opportunity to join our network of students and be a part of the community of socially motivated minds like yours in the long run.</p>
                         </div>
                    </div>
                    <div class="col-md-offset-1 col-md-3 col-sm-12">
                         <div class="entry-form">
                             <p><br>To bring up ideas and strategies which will be implemented at the ground level.</p>
                         </div>
                    </div>
               </div>
          </div>
     </section>	<div class="container">
	    <div class="text-center intern-headings mt-5">What's a Stake - Rewards and Prizes?</div>
            <hr class="intern-head-underline">
            <p class="text-center text-dark mt-4 mb-4 pb-2">
                Apart from these primary incentives we also have a lot of exciting prizes and webinars for the
                participants, which will help them broaden their perspectives regarding what is the reality at the
                ground level.</p>
            <hr>
<div class="row rewards-cards">
  <div class="col-sm-6">
    <div class="card">
        <div class="card-horizontal justify-content-center" style="display: flex; flex: 1 1 auto;">
            <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
                <img src="<%=baseurl%>gyws/assets/img/nep/winner.png" alt="" width="165px" height="195px">
            </div>
            <div class="card-body" >
                <h6 class="card-text">Winner</h6>
                <h3 class="card-title">Rs 30,000</h3>
                <p class="card-text">Along with the cash prize and certificate, we will also provide a
                    voucher.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
        <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
            <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
                <img src="<%=baseurl%>gyws/assets/img/nep/first.png" alt="" width="165px" height="195px">
            </div>
            <div class="card-body">
                <h6 class="card-text">First Runner Up</h6>
                <h3 class="card-title">Rs 20,000</h3>
                <p class="card-text">Along with the cash prize and certificate, we will also provide a
                    voucher.</p>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="row " style="margin-top:3% ">
  <div class="col-sm-6">
    <div class="card">
        <div class="card-horizontal " style="display: flex; flex: 1 1 auto;">
            <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
                <img src="<%=baseurl%>gyws/assets/img/nep/second.png" alt="" width="165px" height="195px" >
            </div>
            <div class="card-body">
                <h6 class="card-text">Second Runner Up</h6>
                <h3 class="card-title">Rs 10,000</h3>
                <p class="card-text">Along with the cash prize and certificate, we will also provide a
                    voucher.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
        <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
            <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
                <img src="<%=baseurl%>gyws/assets/img/nep/third.png" alt="" width="165px" height="195px" >
            </div>
            <div class="card-body">
                <h6 class="card-text">Top 5</h6>
                <h3 class="card-title"> Vouchers</h3>
                <p class="card-text">Along with the cash prize and certificate, we will also provide a
                    voucher of worth Rs. 1000 to our top 5 teams..</p>
            </div>
        </div>
    </div>
  </div>
</div>
        </div>
	<div class="container">
            <div class="text-center intern-headings mt-5">Eligibility</div>
            <hr class="intern-head-underline"><br><br>
        </div>
        <center>
            <div class="container">
                <div class="row mt-2 justify-content-around">
                    <div class="col-lg-3 col-md-6 intern-inc-card" style="background-color: rgb(7,56,99); color: white;border-radius:5px">
                        <img src="<%=baseurl%>gyws/assets/img/nep/workshops.png"><br><br>
                        <p style="text-align: center;" class="mt-2">Enthusiastic Participation of any college student
                            who is willing to bring up a change in the method of learning according to the National
                            Education Policy are welcome.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 intern-inc-card " style="background-color: white; color: black;border-radius:5px">
                        <img src="<%=baseurl%>gyws/assets/img/nep/network.png"><br><br>
                        <p style="text-align: center;" class="mt-2">In each team, there should be 3-5 members and all
                            the members of the team should be from one college only.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 intern-inc-card" style="background-color: rgb(7,56,99); color: white;border-radius:5px">
                        <img src="<%=baseurl%>gyws/assets/img/nep/certification.png"><br><br>
                        <p style="text-align: center;" class="mt-2">Students from any institute irrespective of
                            department or field of study can come forward to participate.</p>
                    </div>
                </div>
            </div>
        </center>
        <hr>
        <div>
            <div class="container">
                <div class="container">
            		<div class="text-center intern-headings mt-5">Important Dates & Deadline</div>
            		<hr class="intern-head-underline"><br>        	</div>

        <div class="col-12">
<br>
        <img src="<%=baseurl%>gyws/assets/img/competition.png" style="width:100%;height:100%;">        </div>
      </div>


	<div class="text-center intern-headings mt-5">STAGES</div>
        <hr class="intern-head-underline">
	<br><br>
        <div class="row text-center">

            <div class="col-md-4 p-3">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-info fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading mt-4">Round - 1: Abstract Submission</h4>
		<p style="font-family:'Montserrat';">The case will be circulated to all participants after registration individually through the mail.</p>
		<p style="font-family:'Montserrat';">The participating teams have to submit a comprehensive abstract consisting of 3-5 pages (in pdf/.docx format) before the abstract submission deadline.</p>
            </div>

            <div class="col-md-4 p-3">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-file-upload fa-inverse fa-stack-1x"></i>
                </span>
                <h4 class="service-heading mt-4">Round - 2: Presentation Submission</h4>
		<p style="font-family:'Montserrat';">50 teams will qualify for round 2.</p>
		<p style="font-family:'Montserrat';">A detailed approach and strategy implementation should be prepared by the selected teams in ppt format (maximum of 10 slides).</p>
		<p style="font-family:'Montserrat';">The participants have to submit both the .pdf and .pptx form of the presentation by 7th March 21.</p>
            </div>
	   	    <div class="col-md-4 p-3">
                 <span class="fa-stack fa-3x">
                     <i class="fas fa-circle fa-stack-2x text-primary"></i>
                     <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                 </span>
                     <h4 class="service-heading mt-4">Round - 3: Panel Presentation</h4>
                 <p style="font-family:'Montserrat';">A total of 10 teams will be selected for the final round.</p>
		 <p style="font-family:'Montserrat';">The team has to present its submitted ppt in front of our Judge.</p>
		 <p style="font-family:'Montserrat';">Round 3 will be conducted on 15th March 21.</p>
            </div>
	<hr>
	</div>































  <!-- Testimonials -->

<div class="text-center intern-headings mt-5">TESTIMONIALS</div>
        <hr class="intern-head-underline">
	<br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card d-flex mx-auto">
		    <div style="padding:0 2rem;" class="">
                                <img  class="img-fluid d-flex mx-auto win-img"
                            src="<%=baseurl%>gyws/assets/img/nep/Monal.jpg"> 
                            </div>

                    <div class="card-text">
                        <div class="card-title">Mrs. Monal Jayaram</div>  <p class="p-large">Gopali Youth Welfare Society believes that students have a huge potential to bring a 
			change in society.Hence, 
			GYWS has put a lot of efforts through its membership, volunteership and internship opportunities to bring the youth of the nation in the frontline
			 of solving developmental challenges which our nation is facing.<span id="dots3">...</span><span id="more3">We at GYWS have realised that there are people
			 across the country who have the potential as well as enthusiasm to help in the nation building activities. And in times like these, when you can't get outside we
			 thought of bringing you all with a perfect opportunity to wear your thinking caps and get involved in some problem solving which will not only help you sharpen 
			your problem solving skills but also work on real-world problems and make an impact at the ground level.</span></p>
                                <a class="btn-solid-lg page-scroll" onClick="myFunction3()" id="myBtn3">LEARN MORE</a>
                               <script>
                                function myFunction3() {
                                    var dots = document.getElementById("dots3");
                                    var moreText = document.getElementById("more3");
                                    var btnText = document.getElementById("myBtn3");

                                    if (dots.style.display === "none") {
                                        dots.style.display = "inline";
                                        btnText.innerHTML = "Read more";
                                        moreText.style.display = "none";
                                    } else {
                                        dots.style.display = "none";
                                        btnText.innerHTML = "Read less";
                                        moreText.style.display = "inline";
                                    }
                                    }
                            </script>
                   </div>
                    <div class="footer"> <span id="name">Co-founder and Director<br></span> <span id="position"> <a
                                href="#">Kaivalya Education Foundation</a></span> </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card d-flex mx-auto">
                    <div class="card-image"> <img class="img-fluid d-flex mx-auto win-img"
                            src="<%=baseurl%>gyws/assets/img/nep/nr_mandal.jpg"> </div>
                    <div class="card-text">
                        <div class="card-title">Prof. NR Mandal</div>  <p class="p-large">Gopali Youth Welfare Society believes that students have a huge potential to bring a change in society.Hence, 
			GYWS has put a lot of efforts through its membership, volunteership and internship opportunities to bring the youth of the nation in the frontline
			 of solving developmental challenges which our nation is facing.<span id="dots4">...</span><span id="more4">We at GYWS have realised that there are people
			 across the country who have the potential as well as enthusiasm to help in the nation building activities. And in times like these, when you can't get outside we
			 thought of bringing you all with a perfect opportunity to wear your thinking caps and get involved in some problem solving which will not only help you sharpen 
			your problem solving skills but also work on real-world problems and make an impact at the ground level.</span></p>
                                <a class="btn-solid-lg page-scroll" onClick="myFunction4()" id="myBtn4">LEARN MORE</a>
                               <script>
                                function myFunction4() {
                                    var dots = document.getElementById("dots4");
                                    var moreText = document.getElementById("more4");
                                    var btnText = document.getElementById("myBtn4");

                                    if (dots.style.display === "none") {
                                        dots.style.display = "inline";
                                        btnText.innerHTML = "Read more";
                                        moreText.style.display = "none";
                                    } else {
                                        dots.style.display = "none";
                                        btnText.innerHTML = "Read less";
                                        moreText.style.display = "inline";
                                    }
                                    }
                            </script>
                    </div>
                    <div class="footer"> <span id="name">Ex Dean (Students' Affairs)<br></span> <span id="position">CEO of <a
                                href="#">IIT Kharagpur</a></span> </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card d-flex mx-auto ">
                    <div class="card-image"> <img class="img-fluid d-flex mx-auto win-img"
                            src="<%=baseurl%>gyws/assets/img/nep/Nagraj_prabhu.jpg"> </div>
                    <div class="card-text">
                        <div class="card-title">Mr. Nagraj Prabhu</div>  <p class="p-large">Gopali Youth Welfare Society believes that students have a huge potential to bring a change in society.Hence, 
			GYWS has put a lot of efforts through its membership, volunteership and internship opportunities to bring the youth of the nation in the frontline
			 of solving developmental challenges which our nation is facing.<span id="dots5">...</span><span id="more5">We at GYWS have realised that there are people
			 across the country who have the potential as well as enthusiasm to help in the nation building activities. And in times like these, when you can't get outside we
			 thought of bringing you all with a perfect opportunity to wear your thinking caps and get involved in some problem solving which will not only help you sharpen 
			your problem solving skills but also work on real-world problems and make an impact at the ground level.</span></p>
                                <a class="btn-solid-lg page-scroll" onClick="myFunction5()" id="myBtn5">LEARN MORE</a>
                               <script>
                                function myFunction5() {
                                    var dots = document.getElementById("dots5");
                                    var moreText = document.getElementById("more5");
                                    var btnText = document.getElementById("myBtn5");

                                    if (dots.style.display === "none") {
                                        dots.style.display = "inline";
                                        btnText.innerHTML = "Read more";
                                        moreText.style.display = "none";
                                    } else {
                                        dots.style.display = "none";
                                        btnText.innerHTML = "Read less";
                                        moreText.style.display = "inline";
                                    }
                                    }
                            </script>
                    </div>
                    <div class="footer"> <span id="name">Chief Operating Officer, BPK Technologies<br></span> <span id="position">UX Designer
                            at <a href="#">Ex-Maths Program Head, Akshara Foundation</a></span> </div>
                </div>
            </div>
        </div>
    </div>










  <!-- Winners -->

<div class="text-center intern-headings mt-5">WINNERS</div>
        <hr class="intern-head-underline">
	<br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card d-flex mx-auto">
                    <div class="card-image"> 
			<div style="display: flex; justify-content: center; align-items: center; " class="container">
                            <div style="padding:0 2rem;" class="">
                                <img  class="img-fluid d-flex mx-auto win-img"
                            src="<%=baseurl%>gyws/assets/img/nep/jam1.jpg"> 
                            </div>
                            <div style="padding:0 2rem;" class="">
                                <img  class="img-fluid d-flex mx-auto win-img"
                            src="<%=baseurl%>gyws/assets/img/nep/jam2.png"> 
                            </div>
                        </div>  
		 </div>
                    <div class="card-text">
                        <div class="card-title" style="font-size: 3rem;">Jamians</div><p class="p-large">GYWS’s Adhyayan was so far the best case study competition that we as a team have participated in. What stood out the most in this event was the management<span id="dots6">...</span><span id="more6">by the organizers and the constant feedback after each round which was smoothly handled. We learnt a lot along the rounds about the policies & the current lags of the educational system. 
We had learnt a lot - be it presentation skills, strategy formulation or storytelling. The learnings mattered so much that winning was just an icing on the cake. Incredibly happy with the experience.  

We hope to participate in similar events with GYWS in the future.
.</span></p>
                                <a class="btn-solid-lg page-scroll" onClick="myFunction6()" id="myBtn6">LEARN MORE</a>
                               <script>
                                function myFunction6() {
                                    var dots = document.getElementById("dots6");
                                    var moreText = document.getElementById("more6");
                                    var btnText = document.getElementById("myBtn6");

                                    if (dots.style.display === "none") {
                                        dots.style.display = "inline";
                                        btnText.innerHTML = "Read more";
                                        moreText.style.display = "none";
                                    } else {
                                        dots.style.display = "none";
                                        btnText.innerHTML = "Read less";
                                        moreText.style.display = "inline";
                                    }
                                    }
                            </script>
                  </div>
                    <div class="footer"> <span id="name"><br></span> <span id="position"> <a
                                href="#"></a></span> </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card d-flex mx-auto">
                    <div class="card-image"> 
			<div style="display: flex; justify-content: center; align-items: center; " class="container">
                            <div style="padding:0 2rem;" class="">
                                <img  class="img-fluid d-flex mx-auto win-img"
                            src="<%=baseurl%>gyws/assets/img/nep/Udit Sharma.jfif"> 
                            </div>
                            <div style="padding:0 2rem;" class="">
                                <img  class="img-fluid d-flex mx-auto win-img"
                            src="<%=baseurl%>gyws/assets/img/nep/Sankalp Gupta.jpeg"> 
                            </div>
                        </div>  
		 </div>
                    <div class="card-text">
                        <div class="card-title" style="font-size: 3rem;">Alphas</div> <p class="p-large">Adhhyayan - the socio innovation case challenge 2021 was a marvelous event, very well structured and formulated by GYWS. The competition was a wonderful <span id="dots7">...</span><span id="more7">learning experience for our team in terms of exposure to the current scenario of the Indian education system. The healthy competition continuously challenged us to level up our game of “out-of-the-box thinking” and to move towards a solution-oriented approach that can be practically implemented. The competition was a lot different from other competitions we have participated in till now. The concept of assigning mentors and providing feedback based on our submissions at the end of different rounds really helped us in improving the mentioned areas. 
The insights shared by the esteemed panel of judges served as valuable learning lessons to us. The competition has motivated us to a great extent and we are looking forward to participating in more such events that will be organized by GYWS in the future. 
</span></p>
                                <a class="btn-solid-lg page-scroll" onClick="myFunction7()" id="myBtn7">LEARN MORE</a>
                               <script>
                                function myFunction7() {
                                    var dots = document.getElementById("dots7");
                                    var moreText = document.getElementById("more7");
                                    var btnText = document.getElementById("myBtn7");

                                    if (dots.style.display === "none") {
                                        dots.style.display = "inline";
                                        btnText.innerHTML = "Read more";
                                        moreText.style.display = "none";
                                    } else {
                                        dots.style.display = "none";
                                        btnText.innerHTML = "Read less";
                                        moreText.style.display = "inline";
                                    }
                                    }
                            </script>
 </div>
                    <div class="footer"> <span id="name"><br></span> <span id="position"> <a
                                href="#"></a></span> </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-flex mx-auto ">
                    <div class="card-image"> 
			<div style="display: flex; justify-content: center; align-items: center; " class="container">
                            <div style="padding:0 2rem;" class="">
                                <img  class="img-fluid d-flex mx-auto win-img"
                            src="<%=baseurl%>gyws/assets/img/nep/Outliers_1_Shashwat.jpg"> 
                            </div>
                            <div style="padding:0 2rem;" class="">
                                <img  class="img-fluid d-flex mx-auto win-img"
                            src="<%=baseurl%>gyws/assets/img/nep/Outliers_2_Gowri.jpeg"> 
                            </div>
			   <div style="padding:0 2rem;" class="">
                                <img  class="img-fluid d-flex mx-auto win-img"
                            src="<%=baseurl%>gyws/assets/img/nep/Outliers_3_Jay.jpg"> 
                            </div>
                            <div style="padding:0 2rem;" class="">
                                <img  class="img-fluid d-flex mx-auto win-img"
                            src="<%=baseurl%>gyws/assets/img/nep/Outliers_4_Nitika.jpeg"> 
                            </div>

                        </div> 
			 			</div>
                    <div class="card-text">
                        <div class="card-title" style="font-size: 3rem;">Outliers</div><p class="p-large">Every student at some stage of his or her learning journey condemns the education system but it's easy to criticize when you are sitting on the bleachers.<span id="dots8">...</span><span id="more8">This case challenge provided us with an opportunity to dive into the system from the administration's perspective. Throughout the competition, we dug into the roots to research and learn about the Indian education system. As we progressed into the competition, we got further hooked with the PS and learned a lot throughout. In fact, at a point, we weren't concerned with winning or losing any longer, we just wished to be able to bring out the best of our potential as a team. 

We also got to know in depth about GYWS and the great work they have been doing as a student-run non-profit organization. The smooth coordination by their organizing team in a virtual setting is much appreciated. It very well developed the grounds for the diligent hustle ahead. The jury's feedback at different stages and mentor allocation for the finale was a unique and helpful aspect of the case challenge. In the end, we are pleased that we could live up to our team name. 
</span></p>
                                <a class="btn-solid-lg page-scroll" onClick="myFunction8()" id="myBtn8">LEARN MORE</a>
                               <script>
                                function myFunction8() {
                                    var dots = document.getElementById("dots8");
                                    var moreText = document.getElementById("more8");
                                    var btnText = document.getElementById("myBtn8");

                                    if (dots.style.display === "none") {
                                        dots.style.display = "inline";
                                        btnText.innerHTML = "Read more";
                                        moreText.style.display = "none";
                                    } else {
                                        dots.style.display = "none";
                                        btnText.innerHTML = "Read less";
                                        moreText.style.display = "inline";
                                    }
                                    }
                            </script>
                   </div>
                    <div class="footer"> <span id="name"><br></span> <span id="position"> <a href="#"></a></span> </div>
                </div>
            </div>
        </div>
    </div>






   <!--Our Impact  -->
<div class="text-center intern-headings mt-5">WHO PARTICIPATED</div>
        <hr class="intern-head-underline">

      <div class="container-fluid" style="text-align: center;">
          <div class="row" >
              <div class="col-lg-6" style="background-color: rgb(7,56,99); color: wheat; padding: 2rem; ">
                  <p style="font-size: 1.5rem;">Reached</p>
                  <p style="font-size: 3rem; font-weight: 600;">1,00,000+</p>
                  <p style="font-size: 1.5rem;">students</p>
              </div>
              <div class="col-lg-6" style="background-color: white">
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6" style="background-color: white">
              </div>
              <div class="col-lg-6" style="background-color: rgb(7,56,99); color: wheat; padding: 2rem; ">
                  <p style="font-size: 1.5rem;">Participation of</p>
                  <p style="font-size: 3rem; font-weight: 600;">200+</p>
                  <p style="font-size: 1.5rem;">Teams</p>
              </div>
          </div>
	<div class="row" >
              <div class="col-lg-6" style="background-color: rgb(7,56,99); color: wheat; padding: 2rem; ">
                  <p style="font-size: 1.5rem;">Participation of</p>
                  <p style="font-size: 3rem; font-weight: 600;">850+</p>
                  <p style="font-size: 1.5rem;">students</p>
              </div>
              <div class="col-lg-6" style="background-color: white">
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6" style="background-color: white">
              </div>
              <div class="col-lg-6" style="background-color: rgb(7,56,99); color: wheat; padding: 2rem; ">
                  <p style="font-size: 1.5rem;">Colleges</p>
                  <p style="font-size: 3rem; font-weight: 600;">35+</p>
                  <p style="font-size: 1.5rem;">from across the nation</p>
              </div>
          </div>
	<div class="row" >
             <div class="col-lg-6" style="background-color: rgb(7,56,99); color: wheat !important; padding: 2rem; ">
                  <p style="font-size: 1.5rem;">Participation of</p>
                  <p style="font-size: 3rem; font-weight: 600;">10+</p>
                  <p style="font-size: 1.5rem;">states</p>
              </div>
              <div class="col-lg-6" style="background-color: white">
              </div>
          </div>


      </div>




<div class="text-center intern-headings mt-5">OUR IMPACT</div>
        <hr class="intern-head-underline">


<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.PieChart);

// Add data
chart.data = [ {
  "country": "Participants enjoyed the teamwork",
  "litres": 100
}, {
  "country": "Participants said it was a new experience",
  "litres": 80
}, {
  "country": "Participants improved their presentation skills 			",
  "litres": 68.6
}, {
  "country": "Partipants got more aware about the nep 2020			",
  "litres": 85.7
}, {
  "country": "Skills to think crticially was improved			",
  "litres": 71.4
}];

// Add and configure Series
var pieSeries = chart.series.push(new am4charts.PieSeries());
pieSeries.dataFields.value = "litres";
pieSeries.dataFields.category = "country";
pieSeries.slices.template.stroke = am4core.color("#fff");
pieSeries.slices.template.strokeWidth = 2;
pieSeries.slices.template.strokeOpacity = 1;

// This creates initial animation
pieSeries.hiddenState.properties.opacity = 1;
pieSeries.hiddenState.properties.endAngle = -90;
pieSeries.hiddenState.properties.startAngle = -90;

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv" style="width: 100%; height: 500px;" ></div>














 <!-- Mentorship -->
<div class="text-center intern-headings mt-5">MENTORSHIP PROGRAM</div>
        <hr class="intern-head-underline">
	<br><br>

    <div class="row">
<div class="col-lg-6" style="text-align: center;">
            <img style="width: 40%; margin-top: 3rem;" class="intro-img-small" src="<%=baseurl%>gyws/assets/img/nep/mentorship.png" alt="">
        </div>
        <div class="col-lg-6">
            <div class="jumbotron" style="background-color: transparent; text-align: center;">
                <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                attention to featured content or information.</p>
            <hr class="my-4"> -->
                <p style="color: #85859f; font-size: 1.2rem; line-height: 2rem;">For final round students we provided specialised mentors from our organization to help them improve the structure of their solution, 
		and personally provide them with the necessary feedback. We conducted meetings, to help them understand the problem statement better, 
		and pointed out the specific mistakes from the previous round. The mentorship was to help them grow, and learn as much as possible by helping them through 
		personalized feedback.  
		</p>            </div>
        </div>
        
    </div>















        <section id="more-features">
      <div class="container">
        <div class="text-center intern-headings mt-3" style="font-size: 2rem;"><strong>Why Participate?</strong></div>
    <hr class="intern-head-underline">
    <br></br>
    <div class="row" >



        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon" style="margin-top:50px;"><i class="far fa-clock"></i></div>
              <h4 class="title" style="color:#111;font-weight: 700;font-size: 22px;">STAND OUT</h4>
              <p class="description">Demonstrate that you have the skills to succeed. Adhhyayan will test your critical thinking, presentation technique, and case-solving skills.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon" style="margin-top:50px;"><i class="far fa-bookmark"></i></div>
              <h4 class="title" style="color:#111;font-weight: 700;font-size: 22px;">CHALLENGE YOURSELF</h4>

              <p class="description" style="padding:10px;"> It is a chance to practice case-solving and be challenged by a panel of industry-leading professionals. </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon" style="margin-top:50px;"><i class="far fa-heart"></i></div>
              <h4 class="title" style="color:#111;font-weight: 700;font-size: 22px;">REAL EXPERIENCE</h4>
              <p class="description"> Participating in case competitions is an excellent way for you to test your skills and knowledge from the classroom in a real-life business case challenge.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon" style="margin-top:50px;margin-right: 15px;"><i class="fas fa-chalkboard-teacher"></i></div>
              <h4 class="title" style="color:#111;font-weight: 700;font-size: 22px;">EXPERIENCE LIFETIME</h4>
              <p class="description">Adhhyayan is a fantastic experience, and we are confident you will learn a lot and have fun events and interactions with eminent personalities along the way. </p>
            </div>
          </div>

        </div>
      </div>
    </section>

<div class="container-fluid">
    <div class="text-center intern-headings mt-5" style="font-size: 2rem;"><strong>Our Sponsors</strong></div>
    <hr class="intern-head-underline">
    <div class="row" >

        <div class="col-xs-12 col-md-5" style="align-items: center;margin-left:0px;">
            <h4 class="service-heading mt-4" style="color: black; text-align: center;"><div class="format1" style="margin-top:60px;" >SPONSORED BY</div></h4>
           <center>
<img src="<%=baseurl%>gyws/assets/img/nep/dalmia2.jpg" style="width:80%;height:50%;padding:30px;margin-top:20px" >
</center>
        </div>

        <div class="col-md-3" style="align-items: center;">

                <h4 class="service-heading mt-4" style="color:cornflowerblue; text-align: center;"><div class="format2" >PLATFORM PARTNER</div></h4>
                <div class="dare2">
             <center>
            <img src="<%=baseurl%>gyws/assets/img/nep/dare2.png" style="width:80%;height:50%;padding:30px;margin-top:20px">
            </center></div>

                <h4 class="service-heading mt-2" style="color:cornflowerblue; text-align: center;"><div class="format3" >SAVINGS PARTNER</div></h4>
                <div class="grab">
                <center>
                <img src="<%=baseurl%>gyws/assets/img/nep/grabon.png" style="width:80%;height:50%;padding:30px;margin-top:20px">
                 </center> </div> </div>


            <div class="col-md-3" style="align-items: center;">
                <h4 class="service-heading mt-1" style="color:cornflowerblue; text-align: center;"><div style="padding:20px;margin-top:33px;" >CAREER GROWTH PARTNER</div></h4>
                <center>
                <img src="<%=baseurl%>gyws/assets/img/nep/myways.png" style="width:80%;padding:30px;">
</center> </div> </div>
            </div>
        </div>
    </hr>
</div>






        <div class="container" style="background-image: url('<%=baseurl%>gyws/assets/img/nep/notebook2.jpeg'); background-size: 100% 100%;padding:50px;">
            <div class="text-center intern-headings mt-5">Guidelines</div>
            <hr class="intern-head-underline">
<center style="padding:10px;">
                            <p style="font-size:18px;color:black;line-height: 24px; margin-left: auto;margin-right: auto;width: 80%;">Problem Statement will be sent to the participants a week prior via mail.</p>
                <p style="font-size:18px;color:black;line-height: 24px; margin-left: auto;margin-right: auto;width: 80%;">The participants can view the National Education Policy released by the government to get a better
                    grasp on the problem.</p>
                <p style="font-size:18px;color:black;line-height: 24px; margin-left: auto;margin-right: auto;width: 80%;">This case study would go in three-phase :
                <ol style="font-size:18px;color:black;line-height: 24px; margin-left: auto;margin-right: auto;width: 80%;">
                    <li>Abstract Submission</li>
                    <li>Presentation Submission</li>
                    <li>Panel Presentation</li>
                </ol>
                </p>
                <p style="font-size:18px;color:black;line-height: 24px; margin-left: auto;margin-right: auto;width: 80%;">Participants will be judged on the Quality of Analysis, Creativity, Feasibility of the solution, the
                    overall presentation of the case.</p>
            </p>
<center>
            <hr>
        </div>
    </section>
    <section>
         <div class="container-fluid">
            <div class="text-center intern-headings mt-3">NEP CHALLENGE 2021 COMMITTEE</div>
            <hr class="intern-head-underline">
            <div class="row justify-content-center mt-4 pt-2 mb-4 committee-member-strip">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/prerit (2).jpg"><br>
                            <div class="member-name">Prerit Jain</div>
                            <div class="member-post mb-3">CEO - LIGHT<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto:preritjain1234@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/prerit.jain.7"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/in/prerit-jain-iit-kgp/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/sumit.jpg"><br>
                            <div class="member-name">Sumit Sen</div>
                            <div class="member-post mb-3">Expansion Officer - LiGHT<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto: sen60220@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/sumit.iitkgp"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/in/sum-it22/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/mihir.jpg"><br>
                            <div class="member-name">Mihir Gupta</div>
                            <div class="member-post mb-3">Public Relation Officer<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto:mihirg008@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/mihirg008"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/in/mihir-gupta-kgp/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/nikhil.jpg"><br>
                            <div class="member-name">Nikhil Popli</div>
                            <div class="member-post mb-3">Sponsorship Head<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto:poplinikhilpopli@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/poplinikhilpopli"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/in/nikhil-popli-85b578170/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/bhavya.jpg"><br>
                            <div class="member-name">Bhavya Rai</div>
                            <div class="member-post mb-3">Sponsorship Head<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto:bhavyarai2425@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/bhavya.rai.54"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/in/bhavya-rai-a42b5916b/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/pradnya.jpg"><br>
                            <div class="member-name">Pradnya Shinde</div>
                            <div class="member-post mb-3">School Review Comm. Head<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto:pradnyashinde5363@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/pradnya.shinde.5095110"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>

            <br>
        </div>
    </section>

    <script src='<%=baseurl%>gyws/assets/js/nep.js' type='text/javascript'></script>
<script src='<%=baseurl%>gyws/assets/js/nep2.js' type='text/javascript'></script>
<script src='<%=baseurl%>gyws/assets/js/wow.min.js' type='text/javascript'></script>
<script src='<%=baseurl%>gyws/assets/js/jquery.min.js' type='text/javascript'></script>

  <%- include ('../layouts/gyws_footer') %>