<%- include ('../layouts/gyws_header') %>
<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/nep.css">
<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/nep_styles.css">
<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/nep-style.css">
<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/lib_nep/animate.min.css">
<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/lib_nep/ionicons.min.css">
<style>#more2 {display: none;}</style>
    <section>
        <div class="intern-main-head row justify-content-center">
           <img class="top-image" alt="" src="<%=baseurl%>gyws/assets/img/nep/banner_laptop (1).jpg" />
</div>
        </div>
	<center>
	    <div class="col-6 col-md-4 col-lg-3 intern-category-card-button">
         	<center class="text-center"><a href="https://dare2compete.com/o/case-challenge-2020-gopali-youth-welfare-society-145340?fbclid=IwAR2HnGG2VKwh-XHQLPAO0BuIdVyA01WloocKUfqMBD7xXp8bENYcnrDq-fs"><button type="button" class="btn">Apply Now</button></a></center>
            </div>
	</center>
        <br></br>
        <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container" style="margin-top:5%;">
                            <h1><span class="turquoise"></span> Overview </h1>
                            <p class="p-large">Gopali Youth Welfare Society believes that students have a tremendous potential to transform society. Hence, GYWS has put a lot of efforts through its membership, volunteership and internship opportunities to bring the youth of the nation in the frontline of solving developmental challenges which our nation is facing.Gopali youth welfare society brings Nationwide Social Quiz competition in association with Quiz Club of IIT Kharagpur, <span id="dots2">...</span><span id="more2">
                                which aims to bring the brightest minds with a social inclination and a will to do something for the society, and give them a platform to showcase their quizzing talents.Wear your thinking caps and get ready for some quiz time which will not only help you sharpen your Thinking ability but also work on real-world problems and make an impact at the ground level.
</span></p>
                                <a class="btn-solid-lg page-scroll" onClick="myFunction2()" id="myBtn2">LEARN MORE</a>
                               <script>
                                function myFunction2() {
                                    var dots = document.getElementById("dots2");
                                    var moreText = document.getElementById("more2");
                                    var btnText = document.getElementById("myBtn2");

                                    if (dots.style.display === "none") {
                                        dots.style.display = "inline";
                                        btnText.innerHTML = "Read more";
                                        moreText.style.display = "none";
                                    } else {
                                        dots.style.display = "none";
                                        btnText.innerHTML = "Read less";
                                        moreText.style.display = "inline";
                                    }
                                    } 
                            </script>
                                     
                    </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="gyws/assets/img/nep/header-teamwork.svg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->	<div class="container-fluid">
	    <div class="text-center intern-headings mt-5">AIM</div>
            <hr class="intern-head-underline">
	    <section id="about">
          <div class="container-fluid">
               <div class="row">
                    <div class="col-md-offset-1 col-md-3 col-sm-12">
                         <div class="entry-form">
                             <p><br>To make people aware of the social issues present in our society .
                             </p>
                         </div>
                    </div>

                    <div class="col-md-offset-1 col-md-3 col-sm-12">
                         <div class="entry-form">
                             <p>Quiz will focus on themes across social and development issues including health, education, gender, climate, environment and sustainability.</p>
                         </div>
                    </div>

                    <div class="col-md-offset-1 col-md-3 col-sm-12">
                         <div class="entry-form">
                             <p>Participants will be challenged on their knowledge and awareness on a wide range of topics in an engaging and entertaining format.</p>
                         </div>
                    </div>
                    <div class="col-md-offset-1 col-md-3 col-sm-12">
                         <div class="entry-form">
                             <p><br>Participants will be exposed to data and evidence on progress and will have the opportunity to dive deeper into learning more about the subject.</p>
                         </div>
                    </div>
               </div>
          </div>
     </section>	<div class="container">
	    <div class="text-center intern-headings mt-5">What's a Stake - Rewards and Prizes?</div>
            <hr class="intern-head-underline">
            <p class="text-center text-dark mt-4 mb-4 pb-2">
                Apart from these primary incentives we also have a lot of exciting prizes and webinars for the
                participants, which will help them broaden their perspectives regarding what is the reality at the
                ground level.</p>
            <hr>
<div class="row rewards-cards">
  <div class="col-sm-6">
    <div class="card">
        <div class="card-horizontal justify-content-center" style="display: flex; flex: 1 1 auto;">
            <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
                <img src="<%=baseurl%>gyws/assets/img/nep/winner.png" alt="" width="165px" height="195px">
            </div>
            <div class="card-body" >
                <h6 class="card-text">Winner</h6>
                <h3 class="card-title">Rs 10,000</h3>
                <p class="card-text">Along with the cash prize and certificate, we will also provide a
                    voucher.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
        <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
            <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
                <img src="<%=baseurl%>gyws/assets/img/nep/first.png" alt="" width="165px" height="195px">
            </div>
            <div class="card-body">
                <h6 class="card-text">First Runner Up</h6>
                <h3 class="card-title">Rs 5,000</h3>
                <p class="card-text">Along with the cash prize and certificate, we will also provide a
                    voucher.</p>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="row " style="margin-top:3% ">
  <div class="col-sm-6">
    <div class="card">
        <div class="card-horizontal " style="display: flex; flex: 1 1 auto;">
            <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
                <img src="<%=baseurl%>gyws/assets/img/nep/second.png" alt="" width="165px" height="195px" >
            </div>
            <div class="card-body">
                <h6 class="card-text">Other benefits</h6>
                
                <p class="card-text">Exciting goodies and vouchers for all the finalists
                </p>
            </div>
        </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
        <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
            <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
                <img src="<%=baseurl%>gyws/assets/img/nep/third.png" alt="" width="165px" height="195px" >
            </div>
            <div class="card-body">
                <h6 class="card-text">Vouchers</h6>
               
                <p class="card-text">Exciting goodies and vouchers for all the finalists.</p>
            </div>
        </div>
    </div>
  </div>
</div>
        </div>
	<div class="container">
            <div class="text-center intern-headings mt-5">Quiz rules and regulations</div>
            <hr class="intern-head-underline"><br><br>
        </div>
        <center>
            <div class="container">
                <div class="row mt-2 justify-content-around">
                    <div class="col-lg-3 col-md-6 intern-inc-card" style="background-color: rgb(7,56,99); color: white;border-radius:5px">
                        <img src="<%=baseurl%>gyws/assets/img/nep/workshops.png"><br><br>
                        <p style="text-align: center;" class="mt-2">The decision of the quiz-master will be final and will not be subjected to any change.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 intern-inc-card " style="background-color: white; color: black;border-radius:5px">
                        <img src="<%=baseurl%>gyws/assets/img/nep/network.png"><br><br>
                        <p style="text-align: center;" class="mt-2">Only team entries are eligible, and team shall consist of two to three persons. Replacement of any participant of a team is not allowed
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 intern-inc-card" style="background-color: rgb(7,56,99); color: white;border-radius:5px">
                        <img src="<%=baseurl%>gyws/assets/img/nep/certification.png"><br><br>
                        <p style="text-align: center;" class="mt-2">The questions shall be in the form of multiple choice, True / False statement, Specific answer question etc.</p>
                    </div>
                </div>
            </div>
        </center>
        <hr>
        <div>
            <div class="container">
                <div class="container">
            		<div class="text-center intern-headings mt-5">Important Dates & Deadline</div>
            		<hr class="intern-head-underline"><br>        	</div>
                
        <div class="col-12">
<br>
        <img src="<%=baseurl%>gyws/assets/img/competition.png" style="width:100%;height:100%;">        </div>
      </div>


	<div class="text-center intern-headings mt-5">STAGES</div>
        <hr class="intern-head-underline">
	<br><br>
        <div class="row text-center">
	    <div class="col-md-2"></div>
            <div class="col-md-4 p-3">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-info fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading mt-4">PRELIMINARY ROUND</h4>
		<p style="font-family:'Montserrat';">
        <ol>
            <li>Each team would be given a set of question papers containing 15 multiple choice objectives in a Google form which would be filled by only the team leader.</li>
            <li>Time limit - 15 minutes.</li>
            <li>Only 8 Teams would be selected for Final Rounds.</li>
            <li>In case of tie between 2 or more teams, the team that completed in Less time will be selected.</li>
            <li>The selected teams shall have to appear for the final round.</li>
        </ol>
    </p>
		
            </div>

            <div class="col-md-4 p-3">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-file-upload fa-inverse fa-stack-1x"></i>
                </span>
                <h4 class="service-heading mt-4">FINAL QUIZ ROUNDS</h4>
		<p style="font-family:'Montserrat';">
        <ol>
            <li>A question will be asked to a team and if they are unable to answer it will be 
                passed to the next team - 24 questions</li>
            <li>Each team would be asked 4 questions each. (Objective questions with options)
                10 marks for correct answer and 5 negative marks for wrong answer.</li>
            <li> If a team cannot answer the question, they can pass the question & then the question 
                    would be forwarded to the next team.</li>
            <li> Answering time is only 30 seconds.</li>  
            <li>Team discussion is allowed.</li>          
        </ol>
    </p>
		
            </div>
	<div class="col-md-2"></div>

	   	   	<hr>
	</div>

        <section id="more-features">
      <div class="container">
        <div class="text-center intern-headings mt-3" style="font-size: 2rem;"><strong>Why Participate?</strong></div>
    <hr class="intern-head-underline">
    <br></br>
    <div class="row" >



        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon" style="margin-top:50px;"><i class="far fa-clock"></i></div>
              <h4 class="title" style="color:#111;font-weight: 700;font-size: 22px;">STAND OUT</h4>
              <p class="description">Demonstrate that you have the skills to succeed. The Quiz competition will test your critical thinking, Question solving skills and time management.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon" style="margin-top:50px;"><i class="far fa-bookmark"></i></div>
              <h4 class="title" style="color:#111;font-weight: 700;font-size: 22px;">CHALLENGE YOURSELF</h4>
              
              <p class="description" style="padding:10px;"> It is a chance to sharpen your analytical thinking  and be challenged by various real life social scenarios. </p>
            </div>
          </div>
	<center>	
          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon" style="margin-top:50px;"><i class="far fa-heart"></i></div>
              <h4 class="title" style="color:#111;font-weight: 700;font-size: 22px;">REAL EXPERIENCE</h4>
              <p class="description">Participating in Quiz competitions is an excellent way for you to test your skills and knowledge apart from the classroom in a real-life social challenge.</p>
            </div>
          </div>

          
        </div>
	</center>
      </div>
    </section>
	
<div class="container-fluid">
    <div class="text-center intern-headings mt-5" style="font-size: 2rem;"><strong>Our Sponsors</strong></div>
    <hr class="intern-head-underline">
    <div class="row" >

        <div class="col-xs-12 col-md-5" style="align-items: center;margin-left:0px;"> 
            <h4 class="service-heading mt-4" style="color: black; text-align: center;"><div class="format1" style="margin-top:60px;" >SPONSORED BY</div></h4>
           <center> 
<img src="<%=baseurl%>gyws/assets/img/nep/dalmia2.jpg" style="width:80%;height:50%;padding:30px;margin-top:20px" >
</center> 
        </div>
        
        <div class="col-md-3" style="align-items: center;">
            
                <h4 class="service-heading mt-4" style="color:cornflowerblue; text-align: center;"><div class="format2" >PLATFORM PARTNER</div></h4>
                <div class="dare2">
             <center>
            <img src="<%=baseurl%>gyws/assets/img/nep/dare2.png" style="width:80%;height:50%;padding:30px;margin-top:20px"> 
            </center></div> 
          
                <h4 class="service-heading mt-2" style="color:cornflowerblue; text-align: center;"><div class="format3" >SAVINGS PARTNER</div></h4>
                <div class="grab">
                <center>
                <img src="<%=baseurl%>gyws/assets/img/nep/grabon.png" style="width:80%;height:50%;padding:30px;margin-top:20px">
                 </center> </div> </div>
          

            <div class="col-md-3" style="align-items: center;">
                <h4 class="service-heading mt-1" style="color:cornflowerblue; text-align: center;"><div style="padding:20px;margin-top:33px;" >CAREER GROWTH PARTNER</div></h4>
                <center>
                <img src="<%=baseurl%>gyws/assets/img/nep/myways2.png" style="width:80%;padding:30px;">
</center> </div> </div>
            </div>
        </div>
    </hr>
</div>



	


        <div class="container" style="background-image: url('<%=baseurl%>gyws/assets/img/nep/notebook2.jpeg'); background-size: 100% 100%;padding:50px;">
            <div class="text-center intern-headings mt-5">Guidelines</div>
            <hr class="intern-head-underline">
<center style="padding:10px;">
                            <p style="font-size:18px;color:black;line-height: 24px; margin-left: auto;margin-right: auto;width: 80%;">Problem Statement will be sent to the participants a week prior via mail.</p>
                <p style="font-size:18px;color:black;line-height: 24px; margin-left: auto;margin-right: auto;width: 80%;">The participants can view the National Education Policy released by the government to get a better
                    grasp on the problem.</p>
                <p style="font-size:18px;color:black;line-height: 24px; margin-left: auto;margin-right: auto;width: 80%;">This case study would go in three-phase :
                <ol style="font-size:18px;color:black;line-height: 24px; margin-left: auto;margin-right: auto;width: 80%;">
                    <li>Abstract Submission</li>
                    <li>Presentation Submission</li>
                    <li>Panel Presentation</li>
                </ol>
                </p>
                <p style="font-size:18px;color:black;line-height: 24px; margin-left: auto;margin-right: auto;width: 80%;">Participants will be judged on the Quality of Analysis, Creativity, Feasibility of the solution, the
                    overall presentation of the case.</p>
            </p>
<center>
            <hr>
        </div>
    </section>
    <section>
         <div class="container-fluid">
            <div class="text-center intern-headings mt-3">NEP CHALLENGE 2021 COMMITTEE</div>
            <hr class="intern-head-underline">
            <div class="row justify-content-center mt-4 pt-2 mb-4 committee-member-strip">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/prerit (2).jpg"><br>
                            <div class="member-name">Prerit Jain</div>
                            <div class="member-post mb-3">CEO - LIGHT<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto:preritjain1234@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/prerit.jain.7"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/in/prerit-jain-iit-kgp/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/sumit.jpg"><br>
                            <div class="member-name">Sumit Sen</div>
                            <div class="member-post mb-3">Expansion Officer - LiGHT<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto: sen60220@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/sumit.iitkgp"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/in/sum-it22/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/mihir.jpg"><br>
                            <div class="member-name">Mihir Gupta</div>
                            <div class="member-post mb-3">Public Relation Officer<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto:mihirg008@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/mihirg008"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/in/mihir-gupta-kgp/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/nikhil.jpg"><br>
                            <div class="member-name">Nikhil Popli</div>
                            <div class="member-post mb-3">Sponsorship Head<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto:poplinikhilpopli@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/poplinikhilpopli"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/in/nikhil-popli-85b578170/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/bhavya.jpg"><br>
                            <div class="member-name">Bhavya Rai</div>
                            <div class="member-post mb-3">Sponsorship Head<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto:bhavyarai2425@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/bhavya.rai.54"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/in/bhavya-rai-a42b5916b/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <center>
                        <div class="member-card bg-light p-3">
                            <img src="<%=baseurl%>gyws/assets/img/nep/pradnya.jpg"><br>
                            <div class="member-name">Pradnya Shinde</div>
                            <div class="member-post mb-3">School Review Comm. Head<br>GYWS</div>

                            <div class="member-social-strip">
                                <a href="mailto:pradnyashinde5363@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.facebook.com/pradnya.shinde.5095110"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
            <br>
        </div>
    </section>
    <script src='<%=baseurl%>gyws/assets/js/nep.js' type='text/javascript'></script>
<script src='<%=baseurl%>gyws/assets/js/nep2.js' type='text/javascript'></script>
<script src='<%=baseurl%>gyws/assets/js/wow.min.js' type='text/javascript'></script>
<script src='<%=baseurl%>gyws/assets/js/jquery.min.js' type='text/javascript'></script>
    <%- include ('../layouts/gyws_footer') %>