<%- include ('../../layouts/header') %>
<%- include ('../../layouts/sidebar') %>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Designation List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Masters</a></li>
              <li class="breadcrumb-item"><a href="#">Designation</a></li>
              <li class="breadcrumb-item"><a href="#">List</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title" style="width: 100%;">
                  <span class="float-right"><a href="/admin/masters/designation/form">+ Add new designation</a></span>
                </h3>
              </div>
              <%- include ('../../layouts/op_message') %>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Sl. No.</th>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% 
                    var sn = 1;
                    designation_list.forEach(function(mt) { %>
                    <tr>
                      <td><%= sn %></td>
                      <td><%= mt.title %></td>
                      <td><%= mt.priority %></td>
                      <td><%= mt.active %></td>
                      <td>
                        <a href="/admin/masters/designation/form/<%= mt.designation_id %>" class="btn btn-success btn-sm mr-2">View</a>
                        <button class="btn btn-danger btn-sm gyws-btn-del" data-toggle="modal" data-target="#modal-danger" data-del-id="<%= mt.designation_id %>">Delete</button>
                        <form action="/admin/masters/designation/delete" method="post" id="del_form_<%= mt.designation_id %>">
                            <input type="hidden" name="designation_id" id="hidden_id" value="<%= mt.designation_id %>">
                        </form>
                      </td>
                    </tr>
                  <% sn++; }) %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Sl. No.</th>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div><!-- .col-12 -->
      </div><!-- .row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<%- include ('../../layouts/footer') %>