<%- include ('../../layouts/header') %>
<%- include ('../../layouts/sidebar') %>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>OPERATOR LIST</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Website update</a></li>
              <li class="breadcrumb-item"><a href="#">operator</a></li>
              <li class="breadcrumb-item"><a href="#">List</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title" style="width: 100%;">
                  <span class="float-right"><a href="/admin/website-update/operator/form">+ Add new operator</a></span>
                </h3>
              </div>
              <%- include ('../../layouts/op_message') %>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Sl.</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Member Type</th>
                    <th>Designation</th>
                    <th>Role</th>
                    <th>Mobile</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% 
                    var sn = 1;
                    operator_list.forEach(function(operator) { %>
                    <tr>
                      <td><%= sn %>.</td>
                      <td>
                        <%
                          var src = '';
                          if(operator.photo != '') src = baseurl + "contents/operators/" + operator.photo;
                          else src = baseurl + "admin/images/user.png";
                        %>
                        <img src="<%= src %>" class="img-thumbnail list-thumbnail">
                      </td>
                      <td><%= operator.name %></td>

                      
                      <% if( operator.member_type_details != null &&  operator.member_type_details !=''){ %>
                        <td><%= operator.member_type_details.title %></td>
                      <% }else{ %>
                        <td></td>
                      <% } %>

                      <% if( operator.designation_details != null &&  operator.designation_details !=''){ %>
                        <td><%= operator.designation_details.title %></td>
                      <% }else{ %>
                        <td></td>
                      <% } %>

                      <% if( operator.role_details != null &&  operator.role_details !=''){ %>
                        <td><%= operator.role_details.title %></td>
                      <% }else{ %>
                        <td></td>
                      <% } %>

                      <td><%= operator.mobile %></td>
                      <td>
                        <a href="/admin/website-update/operator/form/<%= operator.operator_id %>" class="btn btn-success btn-sm mr-2">View</a>
                        <button class="btn btn-danger btn-sm gyws-btn-del" data-toggle="modal" data-target="#modal-danger" data-del-id="<%= operator.operator_id %>">Delete</button>
                        <form action="/admin/website-update/operator/delete" method="post" id="del_form_<%= operator.operator_id %>">
                            <input type="hidden" name="operator_id" id="hidden_id" value="<%= operator.operator_id %>">
                        </form>
                      </td>
                    </tr>
                  <% sn++; }) %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Sl.</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Member Type</th>
                    <th>Designation</th>
                    <th>Role</th>
                    <th>Mobile</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div><!-- .col-12 -->
      </div><!-- .row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<%- include ('../../layouts/footer') %>