<!--new design begins from here-->
<section class="pt-4 pb-4" style="background-color: #cfcfe4">
  <center>
    <div class="container pl-4 pr-4">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/ac/adrijit.jpg"/><br/>                                
            <div class="member-name">Prof. Adrijit Goswami</div>                                
            <div class="member-post">Dept. of Mathematics</div>  <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/adrijit.goswami"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/adrijit-goswami-208b6b179/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/ac/amitpatra.jpg"/><br/>                                
            <div class="member-name">Prof. Amit Patra</div>                                
            <div class="member-post">Dept. of Electrical Engg.</div>            <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/amit.patra.iitkgp"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/ac/bhasbhowmick.jpg"/><br/>                                
            <div class="member-name">Prof. Bhaskar Bhowmick</div>                                
            <div class="member-post">RSMEE</div>                            
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/ac/damodarmaity.jpg"/><br/>                                
            <div class="member-name">Prof. Damodar Maity</div>                                
            <div class="member-post">Dept. of Civil Engg.</div>                                     <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/damodar.maity"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/ac/dilipkswain.png"/><br/>                                
            <div class="member-name">Prof. Dilip K Swain</div>                                
            <div class="member-post">Dept. of Agri. Engg.</div>            
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100034608635279"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/ac/maiti.jpg"/><br/>                                
            <div class="member-name">Prof. DK Maiti</div>                                
            <div class="member-post">Dept. of Aerospace Engg.</div>                            <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/dipakkumar.maiti.5"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/blank.JPG"/><br/>                                
            <div class="member-name">Prof. H R Tiwari</div>                                
            <div class="member-post">Dept. of HSS</div>                                     <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/ac/sasmita.jpg"/><br/>                                
            <div class="member-name">Prof. Sasmita Mohakud</div>                                
            <div class="member-post">Dept. of Physics</div>            <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/sasmita.mohakud"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/ac/seemasingh.jpeg"/><br/>                                
            <div class="member-name">Prof. Seema Singh</div>                                
            <div class="member-post">Dept. of HSS</div>                            <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/seemhsings"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/ac/sudiptta.jpg"/><br/>                                
            <div class="member-name">Prof. Sudipta Dutta</div>                                
            <div class="member-post">Dept. of Physics</div>                                     <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/sudipta.dutta.5473"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/ac/sudipto.jpg"/><br/>                                
            <div class="member-name">Prof. Sudipto Chakrabarty</div>                                
            <div class="member-post">Dept. of Chem Engg.</div>            <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/sudipto.chakraborty"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </center>
</section>