<li class="list-inline-item"></li>
<div class="row mx-auto justify-content-center">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/ac/adrijit.jpg" alt=""/>
      <h4>PROF. ADRIJIT GHOSWAMI</h4>
      <p class="text-muted">Dept. of Mathematics</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/adrijit.goswami"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/adrijit-goswami-208b6b179/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/ac/amitpatra.jpg" alt=""/>
      <h4>PROF. AMIT PATRA</h4>
      <p class="text-muted">Dept of Electrical Engg.</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/amit.patra.iitkgp"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in">           </i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/ac/bhasbhowmick.jpg" alt=""/>
      <h4>PROF. BHASKAR BHOWNMICK </h4>
      <p class="text-muted">RSMEE</p><br/>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/ac/damodarmaity.jpg" alt=""/>
      <h4>PROF. DAMODAR MAITY</h4>
      <p class="text-muted">Dept Of Civil Engg.</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/damodar.maity"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/ac/dilipkswain.png" alt=""/>
      <h4>PROF. DILIP K SWAIN </h4>
      <p class="text-muted">Dept of Agri. Engg.</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100034608635279"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in">           </i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/ac/maiti.jpg" alt=""/>
      <h4>PROF. DK MAITI</h4>
      <p class="text-muted">Dept. of Aerospace Engg.</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/dipakkumar.maiti.5"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/blank.JPG" alt=""/>
      <h4>PROF. H R TIWARI</h4>
      <p class="text-muted">Dept. of HSS</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in">           </i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/ac/sasmita.jpg" alt=""/>
      <h4>PROF. SASMITA MOHAKUD  </h4>
      <p class="text-muted">Dept. of Physics</p><br/>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/sasmita.mohakud"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/ac/seemasingh.jpeg" alt=""/>
      <h4>PROF. SEEMA SINGH </h4>
      <p class="text-muted">Dept. of HSS</p><br/>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/seemhsings"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/ac/sudiptta.jpg" alt=""/>
      <h4>PROF. SUDIPTA DUTTA</h4>
      <p class="text-muted">Dept. of Physics</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/sudipta.dutta.5473"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in">           </i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/ac/sudipto.jpg" alt=""/>
      <h4>PROF. SUDIPTO CHAKRABARTY</h4>
      <p class="text-muted">Dept of Chem. Engg.</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/sudipto.chakraborty"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in">           </i></a></li>
      </ul>
    </div>
  </div>
</div>