<!--/change in the design of the members page-->
<section class="pt-4 pb-4" style="background-color: #cfcfe4">
  <center>
    <div class="container pl-4 pr-4">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/cord/nj.JPG"/><br/>
            <div class="member-name">Nandini Jalan</div>
            <div class="member-post">UG coordinator</div>  <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/cord/ps.JPG"/><br/>
            <div class="member-name">Pradyun D</div>
            <div class="member-post">UG coordinator</div>            <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/cord/ts.JPG"/><br/>
            <div class="member-name">Tanishka Agarwal</div>
            <div class="member-post">UG coordinator</div>                            <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/cord/nandana.jpg"/><br/>
            <div class="member-name">Devaki Nandana Kalam</div>
            <div class="member-post">Prayas coordinator</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:nandanakalam.iitkgp@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/devakinandanakalam/"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/devakinandanakalam/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/blank.JPG"/><br/>
            <div class="member-name">Supriya Soni</div>
            <div class="member-post">PG coordinator</div>            <br/>
            <div class="member-social-strip"><a href="mailto:supriyasoni546@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/supriya-soni-a6961a18b/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/cord/vinay.jpg"/><br/>
            <div class="member-name">Vinay Bansal</div>
            <div class="member-post">PG coordinator</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:vinaybansal@iitkgp.ac.in"><i class="fas fa-envelope"></i></a>                                    <a href="https://m.facebook.com/vinay.bansal.77920"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/vinay-bansal-6a7ab5140"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/cord/mangesh.jpeg"/><br/>
            <div class="member-name">Mangesh V. Mandage</div>
            <div class="member-post">LiGHT coordinator, Kharagpur center</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:mandagemangesh@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/mangesh.mandage"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/mangesh-mandage-a4840a183/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </center>
</section>
