<!--new design starts from here-->
<section class="pt-4 pb-4" style="background-color: #cfcfe4">
  <center>
    <div class="container pl-4 pr-4">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/mkb1.jpg"/><br/>                                
            <div class="member-name">Mrinal K. Bhanja</div>                                
            <div class="member-post">Ex President and Founder</div>  <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/mrinalkbhanja"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>         
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/blank.JPG"/><br/>                                
            <div class="member-name">JYOTSNA HUI</div>                                
            <div class="member-post">President</div>            <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/kartikthakker.jpg"/><br/>                                
            <div class="member-name">Kartik Thakker</div>                                
            <div class="member-post">Vice President</div>            <br/>
            <div class="member-social-strip"><a href="mailto:kartikthakker99@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/kartik.thakker.1"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/krthakker/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                                            
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/prerit.jpg"/><br/>                                
            <div class="member-name">Prerit Jain</div>                                
            <div class="member-post">Chief Executive Officer (LIGHT)</div>            <br/>
            <div class="member-social-strip"><a href="mailto:preritjain1234@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/prerit.jain.7"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/prerit-jain-iit-kgp/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/sp.jpg"/><br/>                                
            <div class="member-name">Shivam Pandey</div>                                
            <div class="member-post">General Secretary</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:shivam15gyws@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/shivam.pandey.581187"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/shivam-pandey-871107151/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/skn.jpg"/><br/>                                
            <div class="member-name">Saurav kumar Nishant</div>                                
            <div class="member-post">Assistant Secretary</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:sknishant1@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100017581306843"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/saurav-kumar-nishant-8b421716b/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/td.jpg"/><br/>                                
            <div class="member-name">Teerath Dhakad</div>                                
            <div class="member-post">Treasurer</div>            <br/>
            <div class="member-social-strip"><a href="mailto:teerathkdhakad@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100018079787017"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/teerath-kumar-b93b48179/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/mg.jpg"/><br/>                                
            <div class="member-name">Mihir Gupta </div>                                
            <div class="member-post">Public Relations officer</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:mihirg008@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/mihirg008"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/mihir-gupta-kgp/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/chinmay.jpg"/><br/>                                
            <div class="member-name">Chinmay Krishna</div>                                
            <div class="member-post">School Development officer</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:chinmaykrishna3@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/chinmay.krishna.50"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/chinmay-krishna-659275151/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/yash.jpg"/><br/>                                
            <div class="member-name">Yash Raj Gupta</div>                                
            <div class="member-post">Chief Fundraising officer</div>            <br/>
            <div class="member-social-strip"><a href="mailto:yashrajgupta98@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/yrgupta98"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/yash-raj-gupta-b13b57150/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/abhishek.jpg"/><br/>                                
            <div class="member-name">Abhishek Jain</div>                                
            <div class="member-post">Human Resource manager</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:jainism70@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100002861870777"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/abhishek-jain-137a31150/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/gauravsingh.jpg"/><br/>                                
            <div class="member-name">Gaurav Singh</div>                                
            <div class="member-post">Executive officer</div>                                     <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/thegauravonline"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/jalaj.jpg"/><br/>                                
            <div class="member-name">Jalaj Harkawat</div>                                
            <div class="member-post">Chief Sponsorship manager</div>            <br/>
            <div class="member-social-strip"><a href="mailto:jharkawat@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/jalaj.harkawat"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/jalaj-harkawat/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div> 
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/adityabhagat.jpg"/><br/>                                
            <div class="member-name">ADITYA BHAGAT</div>                                
            <div class="member-post">SOCIAL STRATEGY DEVELOPMENT OFFICER [LiGHT]</div>            <br/>
            <div class="member-social-strip"><a href="mailto:adityabhagat99@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/aditya-bhagat-83b0b5151/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>      
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/ss.jpg"/><br/>                                
            <div class="member-name">SUMIT SEN</div>                                
            <div class="member-post">EXPANSION OFFICER [LiGHT]</div>            <br/>
            <div class="member-social-strip"><a href="mailto:sen60220@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/sumit.iitkgp"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/sum-it22/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>      
      </div>
    </div>
  </center>
</section>