<!--new design starts from here-->
<section class="pt-4 pb-4" style="background-color: #cfcfe4">
  <center>
    <div class="container pl-4 pr-4">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/mkb1.jpg"/><br/>
            <div class="member-name">Mrinal K. Bhanja</div>
            <div class="member-post">President</div>  <br/>
            <div class="member-social-strip"><a href="#"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/mrinalkbhanja"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/prerit.jpg"/><br/>
            <div class="member-name">Prerit Jain</div>
            <div class="member-post">VICE PRESIDENT and Chief Executive Officer (LIGHT)</div>            <br/>
            <div class="member-social-strip"><a href="mailto:preritjain1234@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/prerit.jain.7"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/prerit-jain-iit-kgp/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/hs.jpg"/><br/>
            <div class="member-name">HET SHAH</div>
            <div class="member-post">General Secretary</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:hetshah.gyws@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/het3shah"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/het-shah-504b94126/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/karan.jpg"/><br/>
            <div class="member-name">KARAN NANDANKAR</div>
            <div class="member-post">Assistant Secretary</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:karan.nandankar@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/karan.nandankar"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/karan-nandankar/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/ankitrajreal.jpg"/><br/>
            <div class="member-name">ANKIT RAJ</div>
            <div class="member-post">Treasurer</div>            <br/>
            <div class="member-social-strip"><a href="mailto:ankitmani.001@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/ankit.mani.37"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/ankit-raj-481321126/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/prabhat.jpg"/><br/>
            <div class="member-name">PRABHAT RANJAN</div>
            <div class="member-post">School Development officer</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:prabhatranjan12101996@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100012908678713"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/prabhat-ranjan-938949140/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/ka.jpg"/><br/>
            <div class="member-name">KUMAR ANIKET</div>
            <div class="member-post">Chief Fundraising officer</div>            <br/>
            <div class="member-social-strip"><a href="mailto:haniket25@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/aniket025"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/aniket025/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/gb2020/Ga.jpg"/><br/>
            <div class="member-name">GURSHARAN AHIR</div>
            <div class="member-post">Human Resource manager</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:ahir.sharan@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/ahir.sharan"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/gursharan-ahir-64673912a/"><i class="fab fa-linkedin"> </i></a></div>
          </div>
        </div>
      </div>
    </div>
  </center>
</section>
