<!--new design begins from here-->
<section class="pt-4 pb-4" style="background-color: #cfcfe4">
  <center>
    <div class="container pl-4 pr-4">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/cr.JPG"/><br/>
            <div class="member-name">Chitranshu Ranjan</div>
            <div class="member-post">Finance Team Head</div>  <br/>
            <div class="member-social-strip"><a href="mailto:chitranshu47@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/chitranshu.ranjan.9"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/chitranshu-ranjan-b2ba1a17b/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/rr.JPG"/><br/>
            <div class="member-name">Raunak Raj</div>
            <div class="member-post">Finance Team Head</div>            <br/>
            <div class="member-social-strip"><a href="mailto:raunakraj1219@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100027606736136"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/raunak-raj-334726181/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/raj.JPG"/><br/>
            <div class="member-name">Raj Kumar</div>
            <div class="member-post">Finance and Technical Operation Team Head</div>
            <div class="member-social-strip"><a href="mailto:rajkumarfageria1703@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100027299273143"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/rajkumar1703/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/nitish.jpg"/><br/>
            <div class="member-name">Nitish Rathore</div>
            <div class="member-post">General Manager, LiGHT</div>  <br/>
            <div class="member-social-strip"><a href="mailto:nitishkumar0394@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/nitish.rathore.351"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/nitish-rathore-a17827172/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/pb.JPG"/><br/>
            <div class="member-name">Pratik Banka</div>
            <div class="member-post">General Manager, LiGHT</div>  <br/>
            <div class="member-social-strip"><a href="mailto:pratikbanka8@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/pratik.banka.39"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/pratik-banka-216b2a16b/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/ravi.jpg"/><br/>
            <div class="member-name">Ravi Kumar Meena</div>
            <div class="member-post">General Manager, LiGHT</div>  <br/>
            <div class="member-social-strip"><a href="mailto:ravikumarmeena195@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/ravi.kumarmeena.73307"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/rakesh.jpg"/><br/>
            <div class="member-name">Rakesh Mina</div>
            <div class="member-post">Technical Operation Team Head</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:rakeshminaabd17@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/rakesh.mina.12139"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/rakesh-mina-500870190/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/goutam.jpg"/><br/>
            <div class="member-name">Goutam Mandal</div>
            <div class="member-post">SRC and Technical Operation Team Head</div>
            <div class="member-social-strip"><a href="mailto:goutammandal44@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/goutam.mandal.1428"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/goutam-mandal-950556170/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/shivansh.jpg"/><br/>
            <div class="member-name">Shivansh Sethi</div>
            <div class="member-post">SRC Team Head</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:shivanshsethi8821@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/shivansh.sethi.52"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/shivansh-sethi-43778016b/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/pshinde.JPG"/><br/>
            <div class="member-name">Pradnya Shinde</div>
            <div class="member-post">SRC Team Head</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:pradnyashinde5363@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/pradnya.shinde.5095110"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/sweta.jpg"/><br/>
            <div class="member-name">Sweta Yadav</div>
            <div class="member-post">SRC Team Head</div>            <br/>
            <div class="member-social-strip"><a href="mailto:yadavsweta113@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100027851010308"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/ashish.jpg"/><br/>
            <div class="member-name">Ashish Gour</div>
            <div class="member-post">SRC Team Head</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:gourashish666@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100005060175053"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/ashish-gour-14a835185/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/dasarisai.jpg"/><br/>
            <div class="member-name">Dasari Sai Nishant</div>
            <div class="member-post">Media and Design Team Head</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:dasarisn21@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/dasarisai.nishanth"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/dasari-sai-nishanth-251b4a190/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/monalisa.jpg"/><br/>
            <div class="member-name">Monalisa Sahu</div>
            <div class="member-post">Media and Design Team Head</div>            <br/>
            <div class="member-social-strip"><a href="mailto:monaguddy@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/monalisa.sahu.79462815"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/mwlite/in/monalisa-sahu-16b789191"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/sa.JPG"/><br/>
            <div class="member-name">Srajan Asthana</div>
            <div class="member-post">Media and Design Team Head</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:ayushasthana77@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/srajan.asthana.3"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/srajan-asthana-644925174/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/br.JPG"/><br/>
            <div class="member-name">Bhavya Rai</div>
            <div class="member-post">Sponsorship Team Head</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:bhavyarai2425@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/bhavya.rai.54"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/bhavya-rai-a42b5916b/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/sb.JPG"/><br/>
            <div class="member-name">Sumedh Bhagat</div>
            <div class="member-post">Sponsorship Team Head</div>            <br/>
            <div class="member-social-strip"><a href="mailto:sumedhvbhagat@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/sumedh.bhagat.71"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/sumedh-bhagat-ab3982158/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/np.JPG"/><br/>
            <div class="member-name">Nikhil Popli</div>
            <div class="member-post">Sponsorship Team Head</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:poplinikhilpopli@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/poplinikhilpopli"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/nikhil-popli-85b578170/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/dhruv.png"/><br/>
            <div class="member-name">Dhruv Singhal</div>
            <div class="member-post">Sponsorship Team Head</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:dhruvsinghal.gyws@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/dhruv.singhal.161"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/dhruv-singhal-709795118/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/aparna.jpg"/><br/>
            <div class="member-name">Aparna Raut</div>
            <div class="member-post">Skill Development Head</div>  <br/>
            <div class="member-social-strip"><a href="mailto:aparnaraut75@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/aparnaraut15121997"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/aparna-raut-8596314a/"><i class="fab fa-linkedin"> </i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/harshit.jpg"/><br/>
            <div class="member-name">Harshit Kumar Arya</div>
            <div class="member-post">PG Sponsorship Head and PG Finance Head</div>  <br/>
            <div class="member-social-strip"><a href="mailto:harshitarya510@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100008540348993"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/harshit-kumar-arya-910078172/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/deepti.jpg"/><br/>
            <div class="member-name">Deepti Chinmaya Pattana</div>
            <div class="member-post">Skill Development Team Head</div>  <br/>
            <div class="member-social-strip"><a href="mailto:deeptipattanayak848@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100008464241765"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/deeptipattanayak"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/heads/ashishpg.JPG"/><br/>
            <div class="member-name">Ashish Gupta </div>
            <div class="member-post">PG Sponsorship Head</div>  <br/>
            <div class="member-social-strip"><a href="mailto:ashishguptap98@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://m.facebook.com/profile.php?id=100006373385724"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/ashish-gupta-524b02101"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </center>
</section>
