<div class="row mx-auto justify-content-center">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/rn.jpg" alt=""/>
      <h4>Rohit Nama</h4>
      <p class="text-muted">Design Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:rohitnama22@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/rohit.nama.777"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/rohit-nama-621792164/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/ss.jpg" alt=""/>
      <h4>Shubham Shanker</h4>
      <p class="text-muted">Design Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:shubhamshanker17@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/Giyan17"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/shubham-shanker-a82803173/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/mg.jpg" alt=""/>
      <h4>Mihir Gupta</h4>
      <p class="text-muted">Web Design Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:mihirg008@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/mihirg008"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/mihir-gupta-kgp/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/mayanksonu.jpg" alt=""/>
      <h4>Mayank Sonu</h4>
      <p class="text-muted">EaCh & SRC Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:mayanksonu11@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/mayanksonu11"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/mayank-sonu/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/kartikthakker.jpg" alt=""/>
      <h4>Kartik Thakker</h4>
      <p class="text-muted">Finance Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="kartikthakker99@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/kartik.thakker.1"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/krthakker/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/skn.jpg" alt=""/>
      <h4>Saurav K Nishant</h4>
      <p class="text-muted">Finance Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:sknishant1@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100017581306843"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/saurav-kumar-nishant-8b421716b/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/adityabhagat.jpg" alt=""/>
      <h4>Aditya Bhagat</h4>
      <p class="text-muted">LIGHT Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:adityabhagat99@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/adityabhagat.me"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/aditya-bhagat-83b0b5151/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/pm.jpg" alt=""/>
      <h4>Prince Meena</h4>
      <p class="text-muted">LIGHT Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:prince1999meena@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/prince.iitkgp.99"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/prince-meena-iitkgp/"><i class="fab fa-linkedin-in">           </i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/ak.jpg" alt=""/>
      <h4>Ayush Khatarkar</h4>
      <p class="text-muted">Media Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:IITkgpianayush7000@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/ayush.khatarkar.33"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/ayush-khatarkar-4211b217b/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/govind.jpg" alt=""/>
      <h4>Govind K Gupta</h4>
      <p class="text-muted">Media Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:govind031998@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100018143493030"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/govind-kumar-gupta-1a7034165/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/abhishek.jpg" alt=""/>
      <h4>Abhishek Jain</h4>
      <p class="text-muted">Sponsorship Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:jainism70@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100002861870777"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/abhishek-jain-137a31150/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/sh.jpg" alt=""/>
      <h4>G V Sai Harshit</h4>
      <p class="text-muted">Sponsorship Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:saiharshit6586@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/sai.harshit.0307"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/sai-harshit-337a96149/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/jalaj.jpg" alt=""/>
      <h4>Jalaj Harkawat</h4>
      <p class="text-muted">Sponsorship Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:jharkawat@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/jalaj.harkawat"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jalaj-harkawat/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/yash.jpg" alt=""/>
      <h4>Yash R Gupta</h4>
      <p class="text-muted">Sponsorship Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:yashrajgupta98@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/yrgupta98"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/yash-raj-gupta-b13b57150/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/ab.jpg" alt=""/>
      <h4>Alok Bharti</h4>
      <p class="text-muted">SRC Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:akbharti300@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/alok.bharti.923"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/alok-bharti-7bb36816a/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/chinmay.jpg" alt=""/>
      <h4>Chinmay Krishna</h4>
      <p class="text-muted">SRC Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:chinmaykrishna3@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/chinmay.krishna.50"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/chinmay-krishna-659275151/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/sm.jpg" alt=""/>
      <h4>Manupati Sandhya</h4>
      <p class="text-muted">SRC Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:manupatisandhya318@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/sandhya.manupati.5"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/sandhya-manupati-a5533217a/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/head/td.jpg" alt=""/>
      <h4>Teerath Kumar</h4>
      <p class="text-muted">SRC Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:teerathkdhakad@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100018079787017"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/teerath-kumar-b93b48179/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
</div>
