<div class="text-center">
  <h3>BATCH 2018-19</h3>
</div><br/>
<div class="row mx-auto justify-content-center">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/amegh.jpeg" alt=""/>
      <h4>Amegh Bhavsar</h4>
      <p class="text-muted">Vice President</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:ameghbhavsar97@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/amegh.bhavsar"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/ameghbhavsar/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/varun.jpeg" alt=""/>
      <h4>Varun Singhal</h4>
      <p class="text-muted">Assistant Secretary</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:singhal.varun5@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/Varunsinghaal"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/varun-singhal-153b66102/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/kartikey.jpeg" alt=""/>
      <h4>Kartikey Singh</h4>
      <p class="text-muted">School Development Officer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:kartikeysinghkgp@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/singh.kartikey.1"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/kartikeyhere/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/neerav.jpeg" alt=""/>
      <h4>Neerav Jain</h4>
      <p class="text-muted">Treasurer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:neeravjain97@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/neeravjain138"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/neeravj/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/faraz.jpeg" alt=""/>
      <h4>Faraz Akhtar</h4>
      <p class="text-muted">Assistant Treasurer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:frzkhtrpop@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/FRZKHTR"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/frzkhtr/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/arpit.jpeg" alt=""/>
      <h4>Arpit Yadav</h4>
      <p class="text-muted">Human Resource Manager[UG]</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:arpitsc16@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/arpit.yadav.106"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/arpit-yadav-1a19b2103/"><i class="fab fa-linkedin-in"> </i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/krushi.jpeg" alt=""/>
      <h4>Krushi Bandi</h4>
      <p class="text-muted">Founder LIGHT</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:bandikrushi@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/krushi.chow"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/krushi-bandi/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/anubhav.jpeg" alt=""/>
      <h4>Anubhav Jain</h4>
      <p class="text-muted">Public Relations Officer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:anubhavexperiance134@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/anubhav.jain.iit"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jain-anubhav/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/pranjal.jpeg" alt=""/>
      <h4>Pranjal Dwivedi</h4>
      <p class="text-muted">Corporate Relations Officer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:pranjal.gyws@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/kukku.dwivedi.7"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/pranjal-dwivedi-151081108/"><i class="fab fa-linkedin-in"> </i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/anand.jpeg" alt=""/>
      <h4>Anand Kumar</h4>
      <p class="text-muted">LIGHT CEO</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:ak8574779@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/anand-kumar-1480b6113/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/vipul.jpeg" alt=""/>
      <h4>Vipul Kumar</h4>
      <p class="text-muted">Team, Sponsorship</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:vipul.kumar408@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100009453993333"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/vipul-kumar-b4316a118/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<hr/><br/>
<div class="text-center">
  <h3>BATCH 2017-18</h3>
</div><br/>
<div class="row mx-auto justify-content-center">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/srishti.jpeg" alt=""/>
      <h4>Srishti Gole</h4>
      <p class="text-muted">Vice President</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:srishti.gole@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/srishti.gole"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/srishti-gole-308535a0/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/narendra.jpeg" alt=""/>
      <h4>Narendra Majhi</h4>
      <p class="text-muted">Assistant Secretary</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:narendra.majhi22@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/narendra.majhi.98"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/narendra-majhi/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/gagan.jpeg" alt=""/>
      <h4>M Gagan Sai</h4>
      <p class="text-muted">Treasurer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:gagansai.cool@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/gagansai4"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/gagansai7/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/arpita.jpeg" alt=""/>
      <h4>Arpita Mangal</h4>
      <p class="text-muted">Public Relations Officer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:arpitamangal56@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/aarpita.mangal"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/arpita-mangal/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/suyash.jpeg" alt=""/>
      <h4>Suyash Yadav</h4>
      <p class="text-muted">Finance Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:suyashyadav65@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/suyash96yadav"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/suyash-yadav/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/tejas.jpeg" alt=""/>
      <h4>Tejas Nitin Lad</h4>
      <p class="text-muted">UG Coordinator</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:tejasytl@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/tejasytl"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/tejasytl/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/shalu.jpeg" alt=""/>
      <h4>Shalu Kumari</h4>
      <p class="text-muted">SRC Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:shalukumari917@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100005621356607"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/shalu-kumari-39087aa0/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/manasa.jpeg" alt=""/>
      <h4>Manasa Gogineni</h4>
      <p class="text-muted">Media And Publicity Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:manasag967@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/manasa.gogineni.1"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/manasa-gogineni/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Subha Ghosh</h4>
      <p class="text-muted">Human Resource Manager</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:papu123@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/ajeet.jpeg" alt=""/>
      <h4>Ajeet Singh</h4>
      <p class="text-muted">Sponsorship Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:ajeetiitkgp04@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/ajeet.singh.9081323"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/ajeet-singh-269b10b1/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/prabhat.jpeg" alt=""/>
      <h4>Prabhat Kumar</h4>
      <p class="text-muted">Sponsorship Team Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:prabhatiitkgp1415@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100002160206469"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/prabhatkgp/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/surabhi.jpeg" alt=""/>
      <h4>Surabhi Soni</h4>
      <p class="text-muted">Secretary Alumni Board</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:surabhisoni215@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100007384117979"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/surabhi-soni-998205a8/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/shweta.jpeg" alt=""/>
      <h4>Shweta Walke</h4>
      <p class="text-muted">Secretary School Review Committee</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:shwetawalke97@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/shweta.walke.54"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/shweta-walke-525526a5/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/prashant.jpeg" alt=""/>
      <h4>Prashant Patil</h4>
      <p class="text-muted">Human Resource Manager</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:patil7913@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100006450938604"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/prashant-patil-713043a6/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/purnima.jpeg" alt=""/>
      <h4>Purnima Satapathy</h4>
      <p class="text-muted">Executive Officer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:purnima395@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/purnima.satapathy.5"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/purnima-satapathy-46113bb1/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Arindam Roy</h4>
      <p class="text-muted">External Affairs Officer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:roy.arindam469@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Mary Neelam Kujur</h4>
      <p class="text-muted">Human Resource Manager[PG]</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:marykujur2011@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/mary.kujur.37"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Ankit Chauhan</h4>
      <p class="text-muted">Executive Officer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:ankithakur47@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/ankit.chauhan.98871174"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<hr/><br/>
<div class="text-center">
  <h3>BATCH 2016-17</h3>
</div><br/>
<div class="row mx-auto justify-content-center">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/mukesh.jpeg" alt=""/>
      <h4>Mukesh Barnwal</h4>
      <p class="text-muted">Vice President</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:mukeshbarnwal.iit@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/mukesh.barnwal.79"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/mukesh-barnwal-5a067b85/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/dakeshwar.jpeg" alt=""/>
      <h4>Dakeshwar Netam</h4>
      <p class="text-muted">General Secretery</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:dakeshwar.netam007@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/dakeshwar-netam-8000b181/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/bhanu.jpg" alt=""/>
      <h4>C Bhanu Prakash</h4>
      <p class="text-muted">Assistant Secretery</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:bhanu2gita@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/chinimilli.bhanuprakash"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/jay.jpeg" alt=""/>
      <h4>Jayprakash Gupta</h4>
      <p class="text-muted">Treasurer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:jayprakashgupta096@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jay-prakash-gupta-58182889/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Sumedh Mool</h4>
      <p class="text-muted">Public Relation Officer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:thisissumedh@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/sumedh.mool"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/sumedh-mool-10798156/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/punit.jpeg" alt=""/>
      <h4>Punit Pal</h4>
      <p class="text-muted"> </p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:punitkpal@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/punitkpal"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/punitkpal/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/phani.jpeg" alt=""/>
      <h4>Atyam Phani Kumar</h4>
      <p class="text-muted">Human Resource Manager</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:phanikumar.innovative888@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/phanikumar.atyam"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/phani-kumar-atyam-56270a99/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Deepak Kumar</h4>
      <p class="text-muted">Secretary, School Review Committee</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:deepak.aryan12@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Pratyush Prakash</h4>
      <p class="text-muted">School Devlopment Officer</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:iepratiyush@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Anuj Saini</h4>
      <p class="text-muted">Human Resource Manager</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:sainianuuj@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/avinash.jpeg" alt=""/>
      <h4>Avinash Jaiswal</h4>
      <p class="text-muted">Sponsorship Head</p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:avinashj562@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/avinashj562"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jaiswalavinash/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<hr/><br/>
<div class="text-center">
  <h3>BATCH 2015-16</h3>
</div><br/>
<div class="row mx-auto justify-content-center">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Aditya Paithane</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:aditya.paithane@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Arbind Kumar</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:kumararbind44@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Bhavyasree Kaveti</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:bhavyasreekaveti@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Chiranjeev Patidar</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:chiranjeevpatidar@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Dhammaal Avhad</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:dhammapal.avhad@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Gopika Rs</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:r7gopika@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Gudia Devi</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:gudia.devi28@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Himabindu Joopally</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:bindu832@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Himabindu Nalli</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:bindunalli@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Ravikant Dharamsare</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:ravikantkd@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Ravikant Dharamsare</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:samikshameena123@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Shivani Sahu</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:sanu.sahu003@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Siddharth Jar</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:jarsiddharth@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Sree Nithya</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:sreenithyaworld@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Vibhu Kumar</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:vibhu.kumar94@gmail.com/vibhurocks94@yahoo.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Vijay Nishad</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<hr/><br/>
<div class="text-center">
  <h3>BATCH 2014-15</h3>
</div><br/>
<div class="row mx-auto justify-content-center">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>C C Kalyan Chakravorty</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:kalyancc.33@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>G V Harish</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:harrischithu@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Kalbende Krunal Ramesh</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:krunal.iitkgp@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Kashi Kazi</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:prkaziiitkgp@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Kaushal Yadav</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:kaushalyaduvanshi@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Mohan Reddy G</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:gmohanreddyiitjee@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Nithya Mary</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:nithyamary25@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Shashank</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:choudhary.shashank1993@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Shivkant Rajwad</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:shivkantrajwad@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Vikash Kumar</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:burnwalvikas@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Vinay Krishna Gupta</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:vnw.vinay@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<hr/><br/>
<div class="text-center">
  <h3>BATCH 2013-14</h3>
</div><br/>
<div class="row mx-auto justify-content-center">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Ashis Jha</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:aashishjha89@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Bb</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:bgoelv@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Gourav Kumar</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:gourav272333@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Jagdish Kumar Sevda</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:jksevda@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>K Sairam</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:sairam.kasanagottu@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Kaushal Yadav</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:kaushalyaduvanshi@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Mohan Reddy G</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:gmohanreddyiitjee@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Ravi Choudhary</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Rohit Saraf</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:rohit.kumar443@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Some Bose</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:somiithm@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Vinay Krishna Gupta</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:vnw.vinay@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<hr/><br/>
<div class="text-center">
  <h3>BATCH 2008-13</h3>
</div><br/>
<div class="row mx-auto justify-content-center">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Abhinav Dubey</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:abh336@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Abhishek Sureka</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:abhishek.sureka1@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Akash Khetam</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:akashkhetansakti@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Amartya Khan</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:amartyakhan@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Ankit Agarwal</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:ankitagrawal2309@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Arbind Kumar</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Ashutosh Mishra</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Ashwin Kumar</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Ashwin Kumar Ravichandram</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Dipanjan Ray</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>G. Nirmal Suraj</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:guraj.faser@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Gadde Nirmal Suraj Kumar</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:suraj.faser@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Gaurav Dahake</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:gouravdahake@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Himanshu</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Ishant Trivedi</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:ishantrivedi1208@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Koushik Das</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Kunal Kalbinda</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Kunal Kishore</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Mahendra Shukla</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:mahendrashukla1@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Manisha Kashyap</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Mrinal Kanti Bhanja</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Nabanita Bhanja </h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Nitim Jhunjhunwala</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Nitish Jaipuria</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Prerit Varun</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Ritej Bachhawat</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Shashank Shekhar</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Shruti Mishra</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:shurti.m.iitkgp@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Sourav Das</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:souravreachesout@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Sriman</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Subhra Sweta Pasayat</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:shubhrapasayat@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Tanmay Ghonge</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="mailto:tanmay.ghonge@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="team-member"><img class="mx-auto img-fluid rounded-circle" src="<%=baseurl%>gyws/assets/img/members/alum/blank.JPG" alt=""/>
      <h4>Vijay</h4>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
</div>
