<!--css for the new design-->
<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
  body {
  font-family: roboto;
  }
  
  
</style>
<!--end of css for new design-->
<section class="pt-4 pb-4" style="background-color: #cfcfe4">
  <center>
    <div class="container pl-4 pr-4">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/blank.JPG"/><br/>                                
            <div class="member-name">Aaditya Bhardwaj</div>  <br/>
            <div class="member-social-strip"><a href="mailto:aditya.bhardwajshivam@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/aaditya.bhardwaj.73157"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/aaditya-bhardwaj-77747a79/https://www.linkedin.com/in/aaditya-bhardwaj-77747a79/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/aakanksha.jpg"/><br/>                                
            <div class="member-name">Aakanksha Gupta</div>            <br/>
            <div class="member-social-strip"><a href="mailto:aakanksha.gyws@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/akash.jpg"/><br/>                                
            <div class="member-name">Akash Agarwal</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:akashagrwal783@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100007534422240"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/akash-agarwal-a1a229192/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/blank.JPG"/><br/>                                
            <div class="member-name">Akshay Jain</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:1880akshay@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/akshay.jain.393950/"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/akshay-jain-889263188"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/aniruddh.png"/><br/>                                
            <div class="member-name">Aniruddh Solanki</div>            <br/>
            <div class="member-social-strip"><a href="mailto:aniruddh.gyws@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/aniruddhsol/"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/aniruddhsolanki/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/anish.jpeg"/><br/>                                
            <div class="member-name">Anish Sofat </div>                            <br/>
            <div class="member-social-strip"><a href="mailto:sofatanish16@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/anish.sofat/"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/anish-sofat-b9458b112/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/anurag.jpg"/><br/>                                
            <div class="member-name">Anurag Modi</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:anurag.mdiit001@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/anurag.modi.737"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/anurag-modi-138145193"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/blank.JPG"/><br/>                                
            <div class="member-name">Avyaya Bejawada</div>            <br/>
            <div class="member-social-strip"><a href="mailto:avyayabejawada123@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="facebook.com/avyaya.bejawada"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/avyaya-bejawada-1230b3193"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/biswashree.jpg"/><br/>                                
            <div class="member-name">Biswashree Roy</div>                            <br/>
            <div class="member-social-strip"><a href="mailto:biswashree1721@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/dcmmsforever"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/biswashree-roy-184256194/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/blank.JPG"/><br/>                                
            <div class="member-name">Chinmay Jain</div>                                     <br/>
            <div class="member-social-strip"><a href="mailto:chinmayjain767@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/blank.JPG"/><br/>                                
            <div class="member-name">Divyanth L G</div>            <br/>
            <div class="member-social-strip"><a href="mailto:divyanthlg@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/divyanth.g.9"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/divyanth-lg-8876a6194/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/eshita.jpg"/><br/>                                
            <div class="member-name">Eshita Chandwani</div>            <br/>
            <div class="member-social-strip"><a href="mailto:chandwanieshita06@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://m.facebook.com/eshita.chandwani?ref=bookmarks"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/mwlite/in/eshita-chandwani-457915191"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/blank.JPG"/><br/>                                
            <div class="member-name">Lalit Pradiprao Potey</div>            <br/>
            <div class="member-social-strip"><a href="mailto:lalitpotey12345@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/mayankagg.jpg"/><br/>                                
            <div class="member-name">Mayank Agrawal</div>            <br/>
            <div class="member-social-strip"><a href="mailto:agramayank039@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100038925631738"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/mayank-agrawal-3a8843193"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/blank.JPG"/><br/>                                
            <div class="member-name">Mayank Patidar</div>            <br/>
            <div class="member-social-strip"><a href="mailto:01mayankpatidar@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/profile.php?id=100008014189137"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/mayank-patidar-063346194/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/blank.JPG"/><br/>                                
            <div class="member-name">Naman Goel</div>            <br/>
            <div class="member-social-strip"><a href="mailto:dr.rajeevkrgoel46@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/naman.goel.5458498"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/naman-goel-84b663190"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/parv.jpg"/><br/>                                
            <div class="member-name">Parv Maheshwari</div>            <br/>
            <div class="member-social-strip"><a href="mailto:parvmaheshwari2002@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="#"><i class="fab fa-facebook"></i></a>                                    <a href="#"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/pradumn.jpg"/><br/>                                
            <div class="member-name">Pradumn Krashna</div>            <br/>
            <div class="member-social-strip"><a href="mailto:pradumn.gyws@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="http://www.linkedin.com/in/pradumn-krishna-068204192"><i class="fab fa-facebook"></i></a>                                    <a href="http://www.linkedin.com/in/pradumn-krishna-068204192"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/ratnesh.jpg"/><br/>                                
            <div class="member-name">Ratnesh Khandelwal</div>            <br/>
            <div class="member-social-strip"><a href="mailto:ratnesh.gyws@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="http://facebook.com/ratnesh.khandelwal.20"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/ratnesh-khandelwal-bb3157143"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/raunak.jpg"/><br/>                                
            <div class="member-name">Raunak Himmatramka</div>            <br/>
            <div class="member-social-strip"><a href="mailto:raunak1503.light@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/raunak.himmatramkaraghav"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/raunak-himmatramka-68575b1a6"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/rishabh.jpeg"/><br/>                                
            <div class="member-name">Rishabh Goyal</div>            <br/>
            <div class="member-social-strip"><a href="mailto:rishabhgoyal222@gmail.com "><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/rishabh.goyal.35175"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/rishabh-goyal-a1423b193"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/satvik.jpg"/><br/>                                
            <div class="member-name">Satvik Bansal</div>            <br/>
            <div class="member-social-strip"><a href="mailto:satvik.gyws@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/satvik.bansal.27/"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/satvik-bansal-18b196199/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/saurabh.jpg"/><br/>                                
            <div class="member-name">Saurabh Zanwar</div>            <br/>
            <div class="member-social-strip"><a href="mailto:11saurabhzanwar@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/11saurabhzanwar"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/saurabh-zanwar-b64600195"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/blank.JPG"/><br/>                                
            <div class="member-name">Shruti Shambhawi</div>            <br/>
            <div class="member-social-strip"><a href="mailto:shrutishambhawi@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/shruti.shambhawi"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/mwlite/in/shruti-shambhawi-808a43192"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/shubham.jpg"/><br/>                                
            <div class="member-name">Shubham Agrawal</div>            <br/>
            <div class="member-social-strip"><a href="mailto:shubhamagrawal.rses5@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/shubhamagrawal.johny/"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/shubham-agrawal-a14288194/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>                        
        <div class="col-lg-4 col-md-5 pl-4 pr-4 m-0">
          <div class="member-card bg-light p-3"><img src="<%=baseurl%>gyws/assets/img/members/sem2020/yogesh.jpg"/><br/>                                
            <div class="member-name">Yogesh Chawla</div>            <br/>
            <div class="member-social-strip"><a href="mailto:yogeshchawla2850@gmail.com"><i class="fas fa-envelope"></i></a>                                    <a href="https://www.facebook.com/yogesh.chawla.313371"><i class="fab fa-facebook"></i></a>                                    <a href="https://www.linkedin.com/in/yogesh-chawla-ab30b4194/"><i class="fab fa-linkedin"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </center>
</section>