<%- include ('../layouts/gyws_header') %>

<style type="text/css">
    .modal-dialog {
        max-height: 100%;
        max-width: 100%;
    }

    .npdes {
        border: none;
        position: relative;
        left: 130px;
        border-radius: 21px;
        font-size: 12px;
        background-color: #343a40;
        color: #fff
    }
</style>

<header id="about-uss" class="masthead-au">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase my-auto">Donate<br><br></div>
        </div>
    </div>
</header><!-- BEGIN danamojo code-->

<div class="container mt-5">
    <div class="row">
        <% var sn = 1; %>
        <% fixed_donation_program_list.forEach(function(dp) { %>
        <div class="col-12 col-sm-6 col-md-4 gyws-border">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="<%=baseurl %>contents/donation_programs/<%=dp.photo%>" class="img-thumbnail"
                        style="max-height: 260px;">
                </div>
                <div class="col-12">
                    <div class="name_div text-center" id="program__name" data-program-name="<%= dp.program_name %>"><%= dp.program_name %></div> 
                    <button id="showDesc" class="npdes showDesc" data-des="<%= dp.description %>" data-toggle="modal" data-target="#showDesModal">Check Details</button>
                </div>
                <!--<input type="hidden" id="donor_logedin_user" value="<%=//login_user_name%>">-->
                
                <% if(program_type == "subscription") { %>
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="col-6">
                                <div class="tax_div float-left">Period:</div>
                            </div><!-- .col-6 -->
                            <div class="col-6">
                                
                                <select name="period" class="periodClass" id="period_<%=dp.donation_program_id%>">
                                    <option value="yearly">Yearly</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="daily">Daily</option>
                                </select>
                            </div><!-- .col-6 -->
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="col-6">
                                <div class="tax_div float-left">Term:</div>
                            </div><!-- .col-6 -->
                            <div class="col-6">
                                <select name="term" class="termClass" id="term_<%=dp.donation_program_id%>">
                                    <option value="3">1</option>
                                    <option value="3">3</option>
                                    <option value="6">6</option>
                                    <option value="12">12</option>
                                    <option value="24">24</option>


                                </select>
                            </div><!-- .col-6 -->
                        </div>
                    </div>
                <% } %>
                
                
                
                <div class="col-12 mt-2">
                    <div class="row">
                        <div class="col-6">
                            <div class="tax_div float-left">Tax Benefit: <%= dp.tax_benifit %></div>
                        </div><!-- .col-6 -->
                        <div class="col-6">
                            <div class="cost_div float-right" id="cost_<%=dp.donation_program_id%>" data-cost="<%= dp.cost %>"><i class="fa fa-inr"></i> <%= dp.cost %></div>
                        </div><!-- .col-6 -->
                    </div>
                </div>
                <div class="col-12 mt-2 text-center">
                    <div class="cost_div">
                        <!-- <i class="fas fa-plus-square"></i> -->
                        <span class="add_minus arrValClP" data-action="minus" data-id="<%=dp.donation_program_id%>"
                            data-amount-type="<%=dp.amount_type%>" data-amount="<%=dp.cost%>" data-donation-type="<%=dp.program_type%>"
                            data-signup-required="<%=dp.donor_signup_required%>" style="margin-right:-6px;">-</span>
                            <!-- <input type="hidden" value="" class="tempSet"> -->
                        <input type="number" min="0" step="<%=dp.cost%>" name="" class="inc_dec"
                            id="input_<%=dp.donation_program_id%>" readonly>
                        <span class="add_minus arrValClM" data-action="plus" data-id="<%=dp.donation_program_id%>"
                            data-amount-type="<%=dp.amount_type%>" data-amount="<%=dp.cost%>" data-donation-type="<%=dp.program_type%>"
                            data-signup-required="<%=dp.donor_signup_required%>" style="margin-left:-6px;">+</span>
                    </div>
                </div>
                <div class="col-12 mt-2 text-center price_div">
                    <label class="price_lbl" id="total_<%=dp.donation_program_id%>"><i class="fa fa-inr"></i>
                        <span>0.0</span></label>
                </div>
                <!-- <div class="col-12 p-5">
                        <div class="cost_div">Cost: <%= dp.description %></div>
                    </div> -->
            </div>
        </div><!-- .cols -->
        <%= donor_name %>
        <% sn++; %>
        <% }) %>
        
           
        <input type="hidden" name="donorname" id="donorname" value="<%= donor_name ? donor_name : '' %>">
        <input type="hidden" name="donoremail" id="donoremail" value="<%= donor_email ? donor_email : '' %>">
        <input type="hidden" name="donorcontact" id="donorcontact" value="<%= donor_contact_no %>">
        <% var sn = 1; %>
        <% flexible_donation_program_list.forEach(function(dp) { %>
        <div class="col-12 col-sm-6 col-md-4 gyws-border">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="<%=baseurl %>contents/donation_programs/<%=dp.photo%>" class="img-thumbnail"
                        style="max-height: 260px;">
                </div>
                <div class="col-12">
                    <div class="name_div text-center" id="program__name" data-program-name="<%= dp.program_name %>"><%= dp.program_name %></div> 
                    <button id="showDesc" class="npdes showDesc" data-des="<%= dp.description %>" data-toggle="modal" data-target="#showDesModal">Check Details</button>
                </div>
                
                
                <% if(program_type == "subscription") { %>
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="col-6">
                                <div class="tax_div float-left">Period:</div>
                            </div><!-- .col-6 -->
                            <div class="col-6">
                                
                                <select name="period" class="periodClass" id="period_<%=dp.donation_program_id%>">
                                    <option value="yearly">Yearly</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="daily">Daily</option>
                                </select>
                            </div><!-- .col-6 -->
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="col-6">
                                <div class="tax_div float-left">Term:</div>
                            </div><!-- .col-6 -->
                            <div class="col-6">
                                <select name="term" class="termClass" id="term_<%=dp.donation_program_id%>">
                                    <option value="3">1</option>
                                    <option value="3">3</option>
                                    <option value="6">6</option>
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                </select>
                            </div><!-- .col-6 -->
                        </div>
                    </div>
                <% } %>

                <div class="col-12 mt-2">
                    <div class="row">
                        <div class="col-6">
                            <div class="tax_div float-left">Tax Benefit: <%= dp.tax_benifit %></div>
                        </div><!-- .col-6 -->
                        <div class="col-6">
                            <div class="cost_div float-right" id="cost_<%=dp.donation_program_id%>"
                                data-cost="<%= dp.cost %>">Min. <i class="fa fa-inr"></i> <%= dp.cost %></div>
                        </div><!-- .col-6 -->
                    </div>
                </div>
                <div class="col-12 mt-2 text-center">
                    <div class="cost_div">
                        <!-- <i class="fas fa-plus-square"></i> -->
                        <span class="add_minus" data-action="minus" data-id="<%=dp.donation_program_id%>"
                            data-amount-type="<%=dp.amount_type%>" data-signup-required="<%=dp.donor_signup_required%>" data-donation-type="<%=dp.program_type%>"
                            data-amount="<%=dp.cost%>" style="margin-right:-6px;">-</span>
                        <input type="number" min="0" step="<%=dp.cost%>" name="" class="inc_dec"
                            id="input_<%=dp.donation_program_id%>" readonly>
                        <span class="add_minus" data-action="plus" data-id="<%=dp.donation_program_id%>"
                            data-amount-type="<%=dp.amount_type%>" data-signup-required="<%=dp.donor_signup_required%>" data-donation-type="<%=dp.program_type%>"
                            data-amount="<%=dp.cost%>" style="margin-left:-6px;">+</span>
                    </div>
                </div>
                <div class="col-12 mt-2 text-center price_div">
                    <label class="price_lbl" id="total_<%=dp.donation_program_id%>"><i class="fa fa-inr"></i>
                        <span>0.0</span></label>
                </div>
                <!-- <div class="col-12 p-5">
                        <div class="cost_div">Cost: <%= dp.description %></div>
                    </div> -->
            </div>
        </div><!-- .cols -->
        <% sn++; %>
        <% }) %>
    </div><!-- .row -->

    <div class="row mt-3">
        <div class="col-12 text-right gyws-total-bg">
            <label class="total_lbl" id="total_lbl" style="display: none;">Total: &nbsp;&nbsp;&nbsp;<i
                    class="fa fa-inr"></i> <span>0.0</span></label>
        </div>
    </div>

    <div class="row mt-3 donation_buttons">
        <div class="col-12 text-right gyws-total-bg">
            <input type="hidden" id="order-amt" value="" />
            <% if (program_type == 'subscription') { %>
            <button id="subscribe" class="btn btn-info">Proccede to Subscribe</button>

            <%} else { %>
            <button id="proceedToCheckout" class="btn btn-info">Proccede to Checkout</button>
            <% } %>


            <input type="hidden" id="orderId" />
            <input type="hidden" id="subId" />
            <input type="hidden" value="" id="period">
            <input type="hidden" value="" id="term">
            <button id="payButton" class="btn btn-success" style="display:none;float:right">Pay Now</button>
            <button id="paySubcribe" class="btn btn-success" style="display:none;float:right">Subscribe Now</button>
            <button id="paySub" class="btn btn-success" style="display:none;float:right">Pay</button>
            <!-- <div id="paymentDetails"></div> -->
        </div>
    </div>

    <!-- <a href="#myModal" data-toggle="modal">Click to trigger modal</a> -->

    <style type="text/css">
        #myModal .modal-dialog {
            -webkit-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            top: 50%;
            margin: 0 auto;
        }
    </style>
</div><!-- container-fluid -->



<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="for_login">You are requested to log into our system for donate. <a
                        href="/donor/login/<%=category_slug%>/<%=program_type%>" class="modal-a">Donor Log in</a>.
                    If not previously donated please enter the following details.</p>
                <p class="for_without_login">Please feel free to fill up the form</p>
                <hr>
                <section class="container donor_login card-signup pt-0">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-title text-center">Donor Details</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form method="post" enctype="multipart/form-data" id="registration_form">
                                <div class="card">
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 text-center parent-center-div">
                                                <input type="file" name="upload-pp" id="upload-pp" value="">
                                                <div class="vh-center-div">
                                                    <img src="/gyws/images/user.png" id="preview">
                                                    <img src="/gyws/images/photo-upload.png" width="30"
                                                        class="photo-upload-icon">
                                                    <input type="file" name="upload-pp" id="upload-pp" value="">
                                                </div><!-- .vh-center-div -->
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label>Donor Name</label>
                                                    <input type="text" name="name" id="name" class="form-control"
                                                        placeholder="Donor Name" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Contact Number</label>
                                                    <div class="">
                                                        <input type="text" name="country_code_1" id="country_code_1"
                                                            class="form-control gyws-cc" placeholder="+91" value="">
                                                        <input type="text" name="contact_no" id="contact_no"
                                                            class="form-control gyws-cn" placeholder="Contact Number"
                                                            value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Alternative Contact Number</label>
                                                    <div class="">
                                                        <input type="text" name="country_code_2" id="country_code_2"
                                                            class="form-control gyws-cc" placeholder="+91" value="">
                                                        <input type="text" name="alt_contact_no" id="alt_contact_no"
                                                            class="form-control gyws-cn"
                                                            placeholder="Alternative Contact Number" value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Country</label>
                                                    <select name="country" id="country" class="form-control">
                                                        <option value="Afganistan">Afghanistan</option>
                                                        <option value="Albania">Albania</option>
                                                        <option value="Algeria">Algeria</option>
                                                        <option value="American Samoa">American Samoa</option>
                                                        <option value="Andorra">Andorra</option>
                                                        <option value="Angola">Angola</option>
                                                        <option value="Anguilla">Anguilla</option>
                                                        <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                                                        <option value="Argentina">Argentina</option>
                                                        <option value="Armenia">Armenia</option>
                                                        <option value="Aruba">Aruba</option>
                                                        <option value="Australia">Australia</option>
                                                        <option value="Austria">Austria</option>
                                                        <option value="Azerbaijan">Azerbaijan</option>
                                                        <option value="Bahamas">Bahamas</option>
                                                        <option value="Bahrain">Bahrain</option>
                                                        <option value="Bangladesh">Bangladesh</option>
                                                        <option value="Barbados">Barbados</option>
                                                        <option value="Belarus">Belarus</option>
                                                        <option value="Belgium">Belgium</option>
                                                        <option value="Belize">Belize</option>
                                                        <option value="Benin">Benin</option>
                                                        <option value="Bermuda">Bermuda</option>
                                                        <option value="Bhutan">Bhutan</option>
                                                        <option value="Bolivia">Bolivia</option>
                                                        <option value="Bonaire">Bonaire</option>
                                                        <option value="Bosnia & Herzegovina">Bosnia & Herzegovina
                                                        </option>
                                                        <option value="Botswana">Botswana</option>
                                                        <option value="Brazil">Brazil</option>
                                                        <option value="British Indian Ocean Ter">British Indian Ocean
                                                            Ter</option>
                                                        <option value="Brunei">Brunei</option>
                                                        <option value="Bulgaria">Bulgaria</option>
                                                        <option value="Burkina Faso">Burkina Faso</option>
                                                        <option value="Burundi">Burundi</option>
                                                        <option value="Cambodia">Cambodia</option>
                                                        <option value="Cameroon">Cameroon</option>
                                                        <option value="Canada">Canada</option>
                                                        <option value="Canary Islands">Canary Islands</option>
                                                        <option value="Cape Verde">Cape Verde</option>
                                                        <option value="Cayman Islands">Cayman Islands</option>
                                                        <option value="Central African Republic">Central African
                                                            Republic</option>
                                                        <option value="Chad">Chad</option>
                                                        <option value="Channel Islands">Channel Islands</option>
                                                        <option value="Chile">Chile</option>
                                                        <option value="China">China</option>
                                                        <option value="Christmas Island">Christmas Island</option>
                                                        <option value="Cocos Island">Cocos Island</option>
                                                        <option value="Colombia">Colombia</option>
                                                        <option value="Comoros">Comoros</option>
                                                        <option value="Congo">Congo</option>
                                                        <option value="Cook Islands">Cook Islands</option>
                                                        <option value="Costa Rica">Costa Rica</option>
                                                        <option value="Cote DIvoire">Cote DIvoire</option>
                                                        <option value="Croatia">Croatia</option>
                                                        <option value="Cuba">Cuba</option>
                                                        <option value="Curaco">Curacao</option>
                                                        <option value="Cyprus">Cyprus</option>
                                                        <option value="Czech Republic">Czech Republic</option>
                                                        <option value="Denmark">Denmark</option>
                                                        <option value="Djibouti">Djibouti</option>
                                                        <option value="Dominica">Dominica</option>
                                                        <option value="Dominican Republic">Dominican Republic</option>
                                                        <option value="East Timor">East Timor</option>
                                                        <option value="Ecuador">Ecuador</option>
                                                        <option value="Egypt">Egypt</option>
                                                        <option value="El Salvador">El Salvador</option>
                                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                        <option value="Eritrea">Eritrea</option>
                                                        <option value="Estonia">Estonia</option>
                                                        <option value="Ethiopia">Ethiopia</option>
                                                        <option value="Falkland Islands">Falkland Islands</option>
                                                        <option value="Faroe Islands">Faroe Islands</option>
                                                        <option value="Fiji">Fiji</option>
                                                        <option value="Finland">Finland</option>
                                                        <option value="France">France</option>
                                                        <option value="French Guiana">French Guiana</option>
                                                        <option value="French Polynesia">French Polynesia</option>
                                                        <option value="French Southern Ter">French Southern Ter</option>
                                                        <option value="Gabon">Gabon</option>
                                                        <option value="Gambia">Gambia</option>
                                                        <option value="Georgia">Georgia</option>
                                                        <option value="Germany">Germany</option>
                                                        <option value="Ghana">Ghana</option>
                                                        <option value="Gibraltar">Gibraltar</option>
                                                        <option value="Great Britain">Great Britain</option>
                                                        <option value="Greece">Greece</option>
                                                        <option value="Greenland">Greenland</option>
                                                        <option value="Grenada">Grenada</option>
                                                        <option value="Guadeloupe">Guadeloupe</option>
                                                        <option value="Guam">Guam</option>
                                                        <option value="Guatemala">Guatemala</option>
                                                        <option value="Guinea">Guinea</option>
                                                        <option value="Guyana">Guyana</option>
                                                        <option value="Haiti">Haiti</option>
                                                        <option value="Hawaii">Hawaii</option>
                                                        <option value="Honduras">Honduras</option>
                                                        <option value="Hong Kong">Hong Kong</option>
                                                        <option value="Hungary">Hungary</option>
                                                        <option value="Iceland">Iceland</option>
                                                        <option value="Indonesia">Indonesia</option>
                                                        <option value="India" selected="selected">India</option>
                                                        <option value="Iran">Iran</option>
                                                        <option value="Iraq">Iraq</option>
                                                        <option value="Ireland">Ireland</option>
                                                        <option value="Isle of Man">Isle of Man</option>
                                                        <option value="Israel">Israel</option>
                                                        <option value="Italy">Italy</option>
                                                        <option value="Jamaica">Jamaica</option>
                                                        <option value="Japan">Japan</option>
                                                        <option value="Jordan">Jordan</option>
                                                        <option value="Kazakhstan">Kazakhstan</option>
                                                        <option value="Kenya">Kenya</option>
                                                        <option value="Kiribati">Kiribati</option>
                                                        <option value="Korea North">Korea North</option>
                                                        <option value="Korea Sout">Korea South</option>
                                                        <option value="Kuwait">Kuwait</option>
                                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                        <option value="Laos">Laos</option>
                                                        <option value="Latvia">Latvia</option>
                                                        <option value="Lebanon">Lebanon</option>
                                                        <option value="Lesotho">Lesotho</option>
                                                        <option value="Liberia">Liberia</option>
                                                        <option value="Libya">Libya</option>
                                                        <option value="Liechtenstein">Liechtenstein</option>
                                                        <option value="Lithuania">Lithuania</option>
                                                        <option value="Luxembourg">Luxembourg</option>
                                                        <option value="Macau">Macau</option>
                                                        <option value="Macedonia">Macedonia</option>
                                                        <option value="Madagascar">Madagascar</option>
                                                        <option value="Malaysia">Malaysia</option>
                                                        <option value="Malawi">Malawi</option>
                                                        <option value="Maldives">Maldives</option>
                                                        <option value="Mali">Mali</option>
                                                        <option value="Malta">Malta</option>
                                                        <option value="Marshall Islands">Marshall Islands</option>
                                                        <option value="Martinique">Martinique</option>
                                                        <option value="Mauritania">Mauritania</option>
                                                        <option value="Mauritius">Mauritius</option>
                                                        <option value="Mayotte">Mayotte</option>
                                                        <option value="Mexico">Mexico</option>
                                                        <option value="Midway Islands">Midway Islands</option>
                                                        <option value="Moldova">Moldova</option>
                                                        <option value="Monaco">Monaco</option>
                                                        <option value="Mongolia">Mongolia</option>
                                                        <option value="Montserrat">Montserrat</option>
                                                        <option value="Morocco">Morocco</option>
                                                        <option value="Mozambique">Mozambique</option>
                                                        <option value="Myanmar">Myanmar</option>
                                                        <option value="Nambia">Nambia</option>
                                                        <option value="Nauru">Nauru</option>
                                                        <option value="Nepal">Nepal</option>
                                                        <option value="Netherland Antilles">Netherland Antilles</option>
                                                        <option value="Netherlands">Netherlands (Holland, Europe)
                                                        </option>
                                                        <option value="Nevis">Nevis</option>
                                                        <option value="New Caledonia">New Caledonia</option>
                                                        <option value="New Zealand">New Zealand</option>
                                                        <option value="Nicaragua">Nicaragua</option>
                                                        <option value="Niger">Niger</option>
                                                        <option value="Nigeria">Nigeria</option>
                                                        <option value="Niue">Niue</option>
                                                        <option value="Norfolk Island">Norfolk Island</option>
                                                        <option value="Norway">Norway</option>
                                                        <option value="Oman">Oman</option>
                                                        <option value="Pakistan">Pakistan</option>
                                                        <option value="Palau Island">Palau Island</option>
                                                        <option value="Palestine">Palestine</option>
                                                        <option value="Panama">Panama</option>
                                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                                        <option value="Paraguay">Paraguay</option>
                                                        <option value="Peru">Peru</option>
                                                        <option value="Phillipines">Philippines</option>
                                                        <option value="Pitcairn Island">Pitcairn Island</option>
                                                        <option value="Poland">Poland</option>
                                                        <option value="Portugal">Portugal</option>
                                                        <option value="Puerto Rico">Puerto Rico</option>
                                                        <option value="Qatar">Qatar</option>
                                                        <option value="Republic of Montenegro">Republic of Montenegro
                                                        </option>
                                                        <option value="Republic of Serbia">Republic of Serbia</option>
                                                        <option value="Reunion">Reunion</option>
                                                        <option value="Romania">Romania</option>
                                                        <option value="Russia">Russia</option>
                                                        <option value="Rwanda">Rwanda</option>
                                                        <option value="St Barthelemy">St Barthelemy</option>
                                                        <option value="St Eustatius">St Eustatius</option>
                                                        <option value="St Helena">St Helena</option>
                                                        <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                                        <option value="St Lucia">St Lucia</option>
                                                        <option value="St Maarten">St Maarten</option>
                                                        <option value="St Pierre & Miquelon">St Pierre & Miquelon
                                                        </option>
                                                        <option value="St Vincent & Grenadines">St Vincent & Grenadines
                                                        </option>
                                                        <option value="Saipan">Saipan</option>
                                                        <option value="Samoa">Samoa</option>
                                                        <option value="Samoa American">Samoa American</option>
                                                        <option value="San Marino">San Marino</option>
                                                        <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                                        <option value="Senegal">Senegal</option>
                                                        <option value="Seychelles">Seychelles</option>
                                                        <option value="Sierra Leone">Sierra Leone</option>
                                                        <option value="Singapore">Singapore</option>
                                                        <option value="Slovakia">Slovakia</option>
                                                        <option value="Slovenia">Slovenia</option>
                                                        <option value="Solomon Islands">Solomon Islands</option>
                                                        <option value="Somalia">Somalia</option>
                                                        <option value="South Africa">South Africa</option>
                                                        <option value="Spain">Spain</option>
                                                        <option value="Sri Lanka">Sri Lanka</option>
                                                        <option value="Sudan">Sudan</option>
                                                        <option value="Suriname">Suriname</option>
                                                        <option value="Swaziland">Swaziland</option>
                                                        <option value="Sweden">Sweden</option>
                                                        <option value="Switzerland">Switzerland</option>
                                                        <option value="Syria">Syria</option>
                                                        <option value="Tahiti">Tahiti</option>
                                                        <option value="Taiwan">Taiwan</option>
                                                        <option value="Tajikistan">Tajikistan</option>
                                                        <option value="Tanzania">Tanzania</option>
                                                        <option value="Thailand">Thailand</option>
                                                        <option value="Togo">Togo</option>
                                                        <option value="Tokelau">Tokelau</option>
                                                        <option value="Tonga">Tonga</option>
                                                        <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                                                        <option value="Tunisia">Tunisia</option>
                                                        <option value="Turkey">Turkey</option>
                                                        <option value="Turkmenistan">Turkmenistan</option>
                                                        <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                                                        <option value="Tuvalu">Tuvalu</option>
                                                        <option value="Uganda">Uganda</option>
                                                        <option value="United Kingdom">United Kingdom</option>
                                                        <option value="Ukraine">Ukraine</option>
                                                        <option value="United Arab Erimates">United Arab Emirates
                                                        </option>
                                                        <option value="United States of America">United States of
                                                            America</option>
                                                        <option value="Uraguay">Uruguay</option>
                                                        <option value="Uzbekistan">Uzbekistan</option>
                                                        <option value="Vanuatu">Vanuatu</option>
                                                        <option value="Vatican City State">Vatican City State</option>
                                                        <option value="Venezuela">Venezuela</option>
                                                        <option value="Vietnam">Vietnam</option>
                                                        <option value="Virgin Islands (Brit)">Virgin Islands (Brit)
                                                        </option>
                                                        <option value="Virgin Islands (USA)">Virgin Islands (USA)
                                                        </option>
                                                        <option value="Wake Island">Wake Island</option>
                                                        <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                                                        <option value="Yemen">Yemen</option>
                                                        <option value="Zaire">Zaire</option>
                                                        <option value="Zambia">Zambia</option>
                                                        <option value="Zimbabwe">Zimbabwe</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>State</label>
                                                    <input type="text" name="state" id="state" class="form-control"
                                                        placeholder="State" value="">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>City</label>
                                                    <input type="text" name="city" id="city" class="form-control"
                                                        placeholder="City" value="">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>PIN /Zipcode</label>
                                                    <input type="text" name="pin" id="pin" class="form-control"
                                                        placeholder="PIN/Zipcode" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <!--.row-->


                                        <div class="row">
                                            <div class="col-md-12 mt-0">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <textarea name="address" id="address" class="form-control"
                                                        placeholder="Address"></textarea>
                                                </div>
                                            </div><!-- .col-md-12 -->
                                        </div><!-- .row -->

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" name="email" id="email" class="form-control"
                                                        placeholder="Email" value="">
                                                </div>
                                            </div><!-- .col-md-12 -->
                                        </div><!-- .row -->

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <input type="hidden" name="donor_id" id="donor_id" value="">
                                        <input type="hidden" name="H_donor_id_header" id="H_donor_id_header" value="" />
                                        <button type="submit" id="modal_registration_btn"
                                            class="btn btn-primary">Submit</button>
                                        <label class="reg_msg"></label>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<%- include ('../layouts/gyws_footer') %>



<div class="modal fade" id="showDesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:57%;">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="float: right;">&times;</span>
            </button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <p id="modaldescri"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".showDesc").click(function () {
            var newdes = $(this).attr("data-des");
            $('#modaldescri').text(newdes);
        });

        
        $(".periodClass").change(function(){
            var prVal = $(this).val();
            $("#period").val(prVal);
        })

        $(".termClass").change(function(){
            var trVal = $(this).val();
            $("#term").val(trVal);
        })
    </script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script type="text/javascript">
        $("#proceedToCheckout").click(function (e) {
            e.preventDefault();
            var is_donor_logged_in = $("#is_donor_logged_in").val();
            var H_temp_donor_id_header = $("#H_temp_donor_id_header").val();


            if (is_donor_logged_in == "true" || H_temp_donor_id_header != '') {
                createOrder();
            } else {
                if (donor_signup_required == "No" || typeof donor_signup_required === 'undefined') {
                    $(".for_without_login").css("display", "block");
                    $(".for_login").css("display", "none");
                } else {
                    $(".for_without_login").css("display", "none");
                    $(".for_login").css("display", "block");
                }
                $("#myModal").modal("show");
            }
        });

        $("#subscribe").click(function (e) {
            e.preventDefault();
            var is_donor_logged_in = $("#is_donor_logged_in").val();
            var H_temp_donor_id_header = $("#H_temp_donor_id_header").val();

            if (is_donor_logged_in == "true" || H_temp_donor_id_header != '') {
                createSubOrder();
            } else {
                // alert(donor_signup_required);
                if (donor_signup_required == "No" || typeof donor_signup_required === 'undefined') {
                    $(".for_without_login").css("display", "block");
                    $(".for_login").css("display", "none");
                } else {
                    $(".for_without_login").css("display", "none");
                    $(".for_login").css("display", "block");
                }
                $("#myModal").modal("show");
            }
        });

        $("#modal_registration_btn").click(function (e) {
            e.preventDefault();
            var form = $('#registration_form')[0];
            var data = new FormData(form);
            $.ajax({
                url: "/donor/registration-modal",
                enctype: 'multipart/form-data',
                //data: $('#registration_form').serialize() ,
                //data: '{"data":{"member_type_id":"mmm"}}',
                data: data,
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json',
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    if (data.success) {
                        console.log("Calling createOrder() function");
                        $("#H_temp_donor_id_header").val(data.donor_details.donor_id);
                        createOrder();
                        $("#registration_form")[0].reset();
                        $("#preview").attr('src', '/gyws/images/user.png')
                        $(".reg_msg").html('<span style="color:green;">' + data.message + '</span>');
                        setTimeout(function () { $("#myModal").modal("hide"); }, 3000);
                    } else {
                        $(".reg_msg").html('<span style="color:red;">' + data.message + '</span>');
                    }
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        });







        function createOrder() {
            // alert('asdghjkklll');
            //console.log("From within createOrder() function");
            var donor_id = '';
            var is_donor_logged_in = $("#is_donor_logged_in").val();
            if (is_donor_logged_in == "false") {
                //console.log("Ifffffffffff ----- "+$("#H_temp_donor_id_header").val());
                var temp_vendor_id = $("#H_temp_donor_id_header").val();
                //console.log("Tempppppppppppppp = " +temp_vendor_id);
                if (temp_vendor_id != '') donor_id = temp_vendor_id;
                else return false;
            } else {
                //console.log("falseeeeeeeeeee ----- <%=(typeof donor_id !== 'undefined' ? donor_id : '')%>");
                donor_id = "<%=(typeof donor_id !== 'undefined' ? donor_id : '')%>";
            }
            var amount = document.getElementById('order-amt').value;
            amount = parseInt(amount) * 100;
            var url = '/payment/create-order';
            var params = {
                amount: amount,
                //amount: parseInt($(".total_lbl span").text()),
                currency: "INR",
                receipt: "su001",
                payment_capture: '1',
                donor_id: donor_id,
                donation_programs: jsonObj,
            };

            console.log(params);

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function (res) {
                if (xmlHttp.readyState === 4) {
                    res = JSON.parse(xmlHttp.responseText);
                    console.log(res.sub.id);
                    document.getElementById('orderId').value = res.sub.id;
                    document.getElementById("proceedToCheckout").style.display = "none";
                    document.getElementById("payButton").style.display = "block";
                    // document.getElementById("subscribe").style.display = "none";
                    document.getElementById("paySubcribe").style.display = "none";
                } else {
                    console.log("eeeeeeeeeee")
                }
            }
            xmlHttp.open("POST", url, true); // false for synchronous request
            xmlHttp.setRequestHeader("Content-type", "application/json");
            xmlHttp.send(JSON.stringify(params));
        }

        function createSubOrder() {
            // alert('asdghjkklll');
            console.log("From within createSubOrder() function");
            var amount = document.getElementById('order-amt').value;
            var period = document.getElementById('period').value;
            var interval = document.getElementById('term').value;
            var name = $("#program__name").attr("data-program-name");
            var description= $(".showDesc").attr("data-des");
            var donor_logedin_user = $("#donor_logedin_user").val();
            var donoremail = document.getElementById('donoremail').value;
            alert(donoremail);
            //alert(amount);
            amount = parseInt(amount)*100;
            //alert(amount);
            // alert(name);
            // alert(donor_logedin_user);
            var url = '/payment/create-sub-order';
            var params = {
                "donation_programs": jsonObj,
                "period": period,
                "interval": interval,
                "item": {
                    "name": name,
                    "amount": amount,
                    "currency": "INR",
                    "description": description,
                },
                "notes": {
                    "notes_key_1": "Donate by : "+donor_logedin_user,
                    "notes_key_2": "Donar Email : "+donoremail
                }

            };

           /*  var params = {
                period: period,
                interval: 1,
                name: "name",
                amount: amount,
                currency: "INR",
                description: "Description for the test plan",
                donation_programs: jsonObj
            }; */

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function (res) {
                if (xmlHttp.readyState === 4) {
                    res = JSON.parse(xmlHttp.responseText);
                    console.log(res.sub);
                    document.getElementById('orderId').value = res.sub.id;
                    document.getElementById("payButton").style.display = "none";
                    // document.getElementById("proceedToCheckout").style.display = "none";
                    document.getElementById("subscribe").style.display = "none";
                    document.getElementById("paySubcribe").style.display = "block";
                } else {
                    console.log("eeeeeeeeeee")
                }
            }
            xmlHttp.open("POST", url, true); // false for synchronous request
            xmlHttp.setRequestHeader("Content-type", "application/json");
            xmlHttp.send(JSON.stringify(params));
        }



        /* document.getElementById('proceedToCheckout').onclick = function(e){
            var is_donor_logged_in = $("#is_donor_logged_in").val();
            if(is_donor_logged_in == "true") {
                var amount = document.getElementById('order-amt').value;
                var url = '/payment/create-order';
                var params = {
                    amount: amount,  
                    //amount: parseInt($(".total_lbl span").text()),
                    currency: "INR",
                    receipt: "su001",
                    payment_capture: '1'
                };
        
                document.getElementById("proceedToCheckout").style.display = "none";
                document.getElementById("payButton").style.display = "block";
                document.getElementById("subscribe").style.display = "none";
                document.getElementById("paySubcribe").style.display = "none";
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function (res) {
                    if (xmlHttp.readyState === 4) {
                    res=JSON.parse(xmlHttp.responseText);
                    document.getElementById('orderId').value = res.sub.id;
                    }
                }
                xmlHttp.open("POST", url, true); // false for synchronous request
                xmlHttp.setRequestHeader("Content-type", "application/json");
                xmlHttp.send(JSON.stringify(params));
            } else {
                //TODO: open popup for login / Registration
                //The donor_signup_required variable is comming from custom.min.js
                if(donor_signup_required == "No" || typeof donor_signup_required === 'undefined') {
                    $(".for_without_login").css("display","block");
                    $(".for_login").css("display","none");
                } else {
                    $(".for_without_login").css("display","none");
                    $(".for_login").css("display","block");
                }
                $("#myModal").modal("show");
            }
        } */



        document.getElementById('payButton').onclick = function (e) {
            var options = {
                "key": "rzp_live_T261HdyQr0X9hE",
                "currency": "INR",
                "name": "Gopali Youth Welfare Society",
                "description": "Donation",
                "image": "https://staging.gyws.org/gyws/assets/img/logo.png",
                "order_id": document.getElementById('orderId').value,
                "handler": function (response) {
                    var url = '/payment/payment-verify';
                    var params = {
                        razorpay_order_id: response.razorpay_order_id,
                        razorpay_payment_id: response.razorpay_payment_id,
                        razorpay_signature: response.razorpay_signature
                    };
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = function (res) {
                        if (xmlHttp.readyState === 4) {
                            //alert(res +"  ------    " + xmlHttp.responseText);
                            alert("Thank you very much for helping us");
                            window.location.reload();
                        }
                    }
                    xmlHttp.open("POST", url, true); // false for synchronous request
                    xmlHttp.setRequestHeader("Content-type", "application/json");
                    xmlHttp.send(JSON.stringify(params));
                },
                "theme": {
                    "color": "#227254"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            e.preventDefault();
        }

        document.getElementById('paySubcribe').onclick = function (e) {
            console.log("From within createSubOrder() function");
            var plan_id = document.getElementById('orderId').value;
            var amount = document.getElementById('order-amt').value;
            alert(amount);
            var term = document.getElementById('term').value;
            var name = $("#program__name").attr("data-program-name");
            var donor_logedin_user = $("#donor_logedin_user").val();
            var donoremail = document.getElementById('donoremail').value;
            var url = '/subscribe/subscribe-create';
            var params = {

                "plan_id": plan_id,
                "total_count": 1,
                "quantity": term,
                "customer_notify": 1,
                "addons": [
                    {
                        "item": {
                            "name": name,
                            "amount": 100,
                            "currency": "INR"
                        }
                    }
                ],
                "notes": {
                    "notes_key_1": "Donate by : "+donor_logedin_user,
                    "notes_key_2": "Donar Mail : "+donoremail
                }

            };



            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function (res) {
                if (xmlHttp.readyState === 4) {
                    res = JSON.parse(xmlHttp.responseText);
                    console.log(res.sub);
                    document.getElementById("subId").value = res.sub.id;
                    document.getElementById("payButton").style.display = "none";
                    // document.getElementById("proceedToCheckout").style.display = "none";
                    document.getElementById("subscribe").style.display = "none";
                    document.getElementById("paySubcribe").style.display = "none";
                    document.getElementById("paySub").style.display = "block";
                } else {
                    console.log("eeeeeeeeeee")
                }
            }
            xmlHttp.open("POST", url, true); // false for synchronous request
            xmlHttp.setRequestHeader("Content-type", "application/json");
            xmlHttp.send(JSON.stringify(params));
        }

        document.getElementById('paySub').onclick = function (e) {
            var donorname = document.getElementById('donorname').value;
            var donoremail = document.getElementById('donoremail').value;
            var donorcontact = document.getElementById('donorcontact').value;
            var options = {
                "key": "rzp_live_T261HdyQr0X9hE",
                "currency": "INR",
                "name": "Gopali Youth Welfare Society",
                "description": "Donation",
                "image": "https://staging.gyws.org/gyws/assets/img/logo.png",
                "subscription_id": document.getElementById('subId').value,
                "handler": function (response) {
                    if (response.razorpay_subscription_id) {

                        var url = '/subscribe/subscribe-update';
                        var params = {
                            "razorpay_subscription_id": response.razorpay_subscription_id,
                            "razorpay_signature": response.razorpay_signature,

                        };
                        var xmlHttp = new XMLHttpRequest();
                        xmlHttp.onreadystatechange = function (res) {
                            if (xmlHttp.readyState === 4) {
                                res = JSON.parse(xmlHttp.responseText);
                                console.log(res.sub);
                                document.getElementById("subId").value = '';
                                document.getElementById("payButton").style.display = "none";
                                // document.getElementById("proceedToCheckout").style.display = "none";
                                document.getElementById("subscribe").style.display = "none";
                                document.getElementById("paySubcribe").style.display = "none";
                                document.getElementById("paySub").style.display = "none";
                                document.getElementById("total_lbl").style.display = "none";

                            } else {
                                console.log("eeeeeeeeeee")
                            }
                        }
                        xmlHttp.open("POST", url, true); // false for synchronous request
                        xmlHttp.setRequestHeader("Content-type", "application/json");
                        xmlHttp.send(JSON.stringify(params));
                    }
                    //   alert(response.razorpay_payment_id);
                    //   alert(response.razorpay_subscription_id);
                    alert("Payment Successful!");
                },
                "prefill": {
                    "name": donorname,
                    "email": donoremail,
                    "contact": donorcontact
                },
                "notes": {
                    "note_key_1": "Donate By :"+donorname,
                    "note_key_2": "Donar Email :"+donoremail
                },
                "theme": {
                    "color": "#F37254"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            e.preventDefault();
        }

    </script>

    <script>
        
        $(".arrValClM").click(function(){
            $('.arrValClM').not(this).each(function(){
                var cc = ( jsonObj[0].count);
                if(cc > 0){
                    // alert("a")
                    $(this).slideUp();
                }
            });
        })

        $(".arrValClP").click(function(){
            $('.arrValClP').not(this).each(function(){
                var cc = ( jsonObj[0].count);
                if(cc == 0){
                    window.location.reload();
                    // alert("b")
                    $(".arrValClM").slideDown();
                }
            });
        })

       

        // $( ".arrValClM" ).each(function(index) {
        //     var newArr = [];  
        //     $(this).on("click", function(){
        //         if(typeof newArr.length == undefined){
        //             var newArr = [];                
        //         }
        //         var ele = $(this).attr("data-id");
        //         newArr.push(ele);
        //         alert(newArr.length);
        //     });
        // });
    </script>