<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright © GYWS Web Team 2019 - <%=new Date().getFullYear()%></span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="<%=youtube%>" target="_blank"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="<%=facebook%>" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="<%=linkedin%>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item"><a href="#"> </a></li>
                    <li class="list-inline-item"><a href="#">Go to Top</a></li>
                </ul>
            </div>
        </div>
    </div>


</footer>
</body>





<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js'></script>
<script src='<%=baseurl%>gyws/assets/js/script.js' type='text/javascript'></script>
<script src='<%=baseurl%>gyws/assets/js/jssor.slider-27.5.0.min.js' type='text/javascript'></script>
<script src='<%=baseurl%>gyws/assets/js/slider1.js' type='text/javascript'></script>
<!-- <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
<script src='https://raw.githubusercontent.com/jerryluk/jquery.autogrow/master/jquery.autogrow-min.js'></script>
<!-- <script src='<%=baseurl%>gyws/assets/vendor/jquery/jquery.min.js'></script> -->
<script src='<%=baseurl%>gyws/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'></script>
<!-- Plugin JavaScript -->
<script src='<%=baseurl%>gyws/assets/vendor/jquery-easing/jquery.easing.min.js'></script>
<!-- Contact form JavaScript -->
<script src='<%=baseurl%>gyws/assets/js/jqBootstrapValidation.js'></script>
<script src='<%=baseurl%>gyws/assets/js/contact_me.js'></script>
<!-- Custom scripts for this template -->
<script src='<%=baseurl%>gyws/assets/js/agency.js'></script>
<!-- <script src='<%=baseurl%>gyws/assets/js/slider1.js'></script> -->
<script src='<%=baseurl%>gyws/assets/js/news.js'></script>
<script src='<%=baseurl%>gyws/assets/js/map.js'></script>
<script src='<%=baseurl%>gyws/assets/js/light_map_responsive.js'></script>
<script src='<%=baseurl%>gyws/assets/js/jquery.rwdImageMaps.js' type='text/javascript'></script>
<script src='<%=baseurl%>gyws/assets/js/slick.min.js' type='text/javascript'></script>
<script src='<%=baseurl%>gyws/assets/js/prayas_donation.js' type='text/javascript'></script>
<!-- custom javascript -->
<script src='<%=baseurl%>gyws/custom/custom.min.js' type='text/javascript'></script>



<script type='text/javascript'>jssor_1_slider_init();</script>

<script type="text/javascript">
$(document).ready(function(){
    /* function alignModal(){
        var modalDialog = $(this).find(".modal-dialog");
        
        // Applying the top margin on modal dialog to align it vertically center
        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
    }
    // Align modal when it is displayed
    $(".modal").on("shown.bs.modal", alignModal);
    
    // Align modal when user resize the window
    $(window).on("resize", function(){
        $(".modal:visible").each(alignModal);
    }); */   



$(window, document, undefined).ready(function() {

  $('.input').blur(function() {
    var $this = $(this);
    if ($this.val())
      $this.addClass('used');
    else
      $this.removeClass('used');
  });
  
  });


$('#tab1').on('click' , function(){
    $('#tab1').addClass('login-shadow');
   $('#tab2').removeClass('signup-shadow');
});

$('#tab2').on('click' , function(){
    $('#tab2').addClass('signup-shadow');
   $('#tab1').removeClass('login-shadow');


});

});
</script>